Repository heygaia/gaia: changes, and which lefthook commands are due for each by the changed paths.
All: frontend-barrels, frontend-lint, frontend-format, backend-lint, backend-types, frontend-types, backend-security

frontend-barrels:
  run: pnpm generate-barrels
  stage_fixed: true

frontend-lint:
  run: pnpm check:staged
  stage_fixed: true

frontend-format:
  run: pnpm format:staged
  stage_fixed: true

backend-lint:
  run: uvx ruff check --fix {staged_files} && uvx ruff format {staged_files}
  stage_fixed: true

backend-types:
  run: uvx ty check {staged_files}

frontend-types:
  run: pnpm type

backend-security:
  run: uvx bandit {staged_files}

fix: Update LLM initialization and workflow generation logic for improved performance and clarity
  backend/app/agents/llm/client.py
  backend/app/services/workflow/generation_service.py
  frontend/src/components/shared/icons.tsx
  frontend/src/config/registries/triggerRegistry.ts
  frontend/src/features/chat/components/bubbles/actions/ChatBubble_Actions.tsx
  frontend/src/features/chat/components/bubbles/bot/ChatBubbleBot.tsx
  frontend/src/features/chat/components/bubbles/bot/FollowUpActions.tsx
  frontend/src/features/chat/components/composer/ComposerInput.tsx
  frontend/src/features/chat/components/composer/ComposerLeft.tsx
  frontend/src/features/chat/components/composer/SelectedToolIndicator.tsx
  frontend/src/features/chat/components/composer/SelectedWorkflowIndicator.tsx
  frontend/src/features/chat/components/composer/SlashCommandDropdown.tsx
  frontend/src/features/integrations/components/IntegrationsCard.tsx
  frontend/src/features/todo/components/WorkflowSection.tsx
  frontend/src/features/workflows/components/CreateWorkflowModal.tsx
  frontend/src/features/workflows/components/WorkflowModal.tsx
  frontend/src/features/workflows/components/WorkflowPage.tsx
  frontend/src/features/workflows/components/WorkflowSkeletons.tsx
  frontend/src/features/workflows/components/shared/BaseWorkflowCard.tsx
  frontend/src/features/workflows/hooks/index.ts
  frontend/src/features/workflows/hooks/useWorkflowPolling.ts
  frontend/src/hooks/index.ts
  frontend/src/hooks/usePolling.ts
  frontend/src/utils/date/dateUtils.ts
Due: frontend-barrels, frontend-lint, frontend-format, backend-lint, backend-types, frontend-types, backend-security

fix: Adjust dropdown width and refine regeneration icon visibility in WorkflowModal
  frontend/src/features/chat/components/composer/SelectedWorkflowIndicator.tsx
  frontend/src/features/chat/components/interface/sections/ChatSuggestions.tsx
  frontend/src/features/workflows/components/CommunityWorkflowCard.tsx
  frontend/src/features/workflows/components/WorkflowModal.tsx
  frontend/src/features/workflows/components/WorkflowPage.tsx
Due: frontend-barrels, frontend-lint, frontend-format, frontend-types

ci(auto-fix): Apply ESLint formatting
  frontend/src/app/(main)/onboarding/page.tsx
  frontend/src/features/auth/hooks/index.ts
  frontend/src/features/onboarding/components/OnboardingInput.tsx
  frontend/src/features/onboarding/components/OnboardingIntegrationButtons.tsx
  frontend/src/features/onboarding/components/OnboardingMessages.tsx
Due: frontend-barrels, frontend-lint, frontend-format, frontend-types

fix: Restore email processing and workflow filtering with LLM integration
  backend/app/agents/core/graph_manager.py
  backend/app/core/lifespan.py
  backend/app/core/provider_registration.py
  backend/app/services/mail/email_importance_service.py
  backend/app/services/team_service.py
  backend/app/services/workflow/filter_service.py
  backend/app/services/workflow/trigger_matching_service.py
  backend/app/worker.py
  backend/app/workers/lifecycle/startup.py
  backend/app/workers/tasks/__init__.py
  backend/app/workers/tasks/email_tasks.py
Due: backend-lint, backend-types, backend-security

feat: Integrate Gmail agent creation and refactor Composio hooks for improved functionality
  backend/app/agents/core/subagents/provider_subagents.py
  backend/app/langchain/core/subgraphs/gmail_subgraph.py
  backend/app/services/composio/composio_service.py
  backend/app/services/composio/langchain_composio_service.py
  backend/app/utils/composio_hooks/composio_hooks.py
  backend/app/utils/composio_hooks/registry.py
Due: backend-lint, backend-types, backend-security

feat: Add jsonplus patch for message serialization and create patches module
  backend/app/agents/core/subagents/provider_subagents.py
  backend/app/core/lifespan.py
  backend/app/patches/__init__.py
  backend/app/patches/jsonplus.py
Due: backend-lint, backend-types, backend-security

feat: Enhance Gmail subgraph with improved workflow rules and finalization prompts
  backend/app/agents/prompts/gmail_node_prompts.py
  backend/app/langchain/core/framework/plan_and_execute.py
  backend/app/langchain/core/subgraphs/gmail_subgraph.py
Due: backend-lint, backend-types, backend-security

feat: Refactor plan execution framework by removing unused human message formatter and simplifying hook handling
  backend/app/langchain/core/framework/plan_and_execute.py
Due: backend-lint, backend-types, backend-security

feat: Refactor delete system messages node to remove prompt dependency and enhance message filtering logic
  backend/app/agents/core/graph_builder/build_graph.py
  backend/app/agents/core/nodes/delete_system_messages.py
  backend/app/agents/core/nodes/filter_messages.py
  backend/app/agents/core/subagents/base_subagent.py
  backend/app/helpers/message_helpers.py
  backend/app/langchain/core/framework/plan_and_execute.py
  backend/app/patches/jsonplus.py
Due: backend-lint, backend-types, backend-security

feat: Enhance execution context handling by adding previous step outputs and refining node instructions
  backend/app/langchain/core/framework/plan_and_execute.py
Due: backend-lint, backend-types, backend-security

chore: drop drive-by changes unrelated to the briefing feature
  apps/api/app/agents/core/messages.py
  apps/api/app/agents/memory/profile_crawler.py
  apps/api/app/agents/tools/coding/query_json_tool.py
  apps/api/app/agents/tools/core/registry.py
  apps/api/app/agents/tools/integrations/clickup_tool.py
  apps/api/app/agents/tools/integrations/linear_tool.py
  apps/api/app/agents/tools/integrations/twitter_tool.py
  apps/api/app/agents/tools/reminder_tool.py
  apps/api/app/agents/tools/todo_tool.py
  apps/api/app/core/lazy_loader.py
  apps/api/app/decorators/caching.py
  apps/api/app/models/composio_schemas/linear_tools.py
  apps/api/app/services/chat/persistence.py
  apps/api/app/services/integrations/integration_connection_service.py
  apps/api/app/services/onboarding/post_onboarding_service.py
  apps/api/app/services/provider_metadata_service.py
  apps/api/app/services/triggers/handlers/google_sheets.py
  apps/api/app/services/upload_service.py
  apps/api/app/utils/weather_utils.py
  apps/api/scripts/sync_composio_tools.py
  apps/web/src/components/layout/sidebar/MainSidebar.tsx
  apps/web/src/features/calendar/hooks/useCalendarsQuery.ts
Due: none

fix(ci): let the vendored edition assets through the pre-commit gates
  .pre-commit-config.yaml
  apps/api/.pre-commit-config.yaml
Due: none

fix(web): clear the react-doctor gate, and give openModal one argument
  apps/web/doctor.config.jsonc
  apps/web/src/components/layout/sidebar/right-variants/TodoSidebar.tsx
  apps/web/src/config/openui/components/briefing.tsx
  apps/web/src/features/chat/components/interface/RichContentRenderer.tsx
  apps/web/src/features/chat/components/interface/founder-letter/FounderLetter.tsx
  apps/web/src/features/first-steps/hooks/useFirstStepsWidget.ts
  apps/web/src/features/notification/components/NotificationConnectBanner.tsx
  apps/web/src/features/todo/components/TodoItem.tsx
  apps/web/src/features/todo/components/shared/TodoAnswerCard.tsx
  apps/web/src/features/todo/components/shared/TodoDescriptionEditor.tsx
  apps/web/src/features/todo/components/shared/TodoTitleEditor.tsx
  apps/web/src/features/todo/components/today/NeedsYouRow.tsx
  apps/web/src/features/todo/components/today/TodayHeader.tsx
  apps/web/src/features/todo/hooks/useApproveTodo.ts
  apps/web/src/features/use-cases/components/UseCaseSection.tsx
  apps/web/src/stores/pricingModalStore.ts
  doctor.config.jsonc
  libs/shared/ts/src/utils/openui-parser.ts
Due: none

fix(artifacts): widen the short-link slug to 11 base62 chars
  apps/api/app/db/mongodb/indexes.py
  apps/api/app/services/short_link_service.py
Due: none

refactor(todos): split the chip row out of TodoItem
  apps/web/src/features/todo/components/TodoItem.tsx
  apps/web/src/features/todo/components/TodoItemChips.tsx
Due: none

fix(artifacts): stop deleting rows from index bootstrap
  apps/api/app/db/mongodb/indexes.py
  apps/api/scripts/migrate_short_link_slugs.py
Due: none

fix(types): re-export the new todo types from the shared barrel
  apps/web/src/features/todo/components/TodoItemChips.tsx
  libs/shared/ts/src/types/index.ts
Due: none

feat(todos): remove the Today view; /dashboard stays as master has it
  apps/api/CLAUDE.md
  apps/api/app/api/v1/endpoints/dashboard.py
  apps/api/app/api/v1/middleware/tiered_rate_limiter.py
  apps/api/app/api/v1/routes.py
  apps/api/app/db/repositories/todos.py
  apps/api/app/services/dashboard_service.py
  apps/web/src/app/[locale]/(main)/todos/page.tsx
  apps/web/src/features/todo/api/todayApi.ts
  apps/web/src/features/todo/components/today/DoneRow.tsx
  apps/web/src/features/todo/components/today/InFlightRow.tsx
  apps/web/src/features/todo/components/today/NeedsYouRow.tsx
  apps/web/src/features/todo/components/today/SuggestedRow.tsx
  apps/web/src/features/todo/components/today/TodayHeader.tsx
  apps/web/src/features/todo/components/today/TodaySection.tsx
  apps/web/src/features/todo/components/today/TodayView.tsx
  apps/web/src/features/todo/components/today/YourTaskRow.tsx
  apps/web/src/features/todo/hooks/useTodayLiveUpdates.ts
  apps/web/src/features/todo/hooks/useTodayQuery.ts
  apps/web/src/types/features/todayTypes.ts
Due: none

fix: address review findings across the stack
  apps/api/app/api/v1/endpoints/notification.py
  apps/api/app/services/briefing/service.py
  apps/api/app/services/chat/artifact_forwarder.py
  apps/api/app/services/first_steps_service.py
  apps/api/app/services/oauth/oauth_service.py
  apps/api/app/services/outbound_delivery.py
  apps/api/app/utils/notification/channels/email.py
  apps/api/scripts/fix_subscription_data.py
  apps/api/tests/unit/services/test_oauth_service.py
  apps/api/tests/unit/services/test_outbound_delivery.py
  apps/web/src/features/first-steps/components/FirstStepsWidget.tsx
  apps/web/src/features/first-steps/constants.ts
  apps/web/src/features/first-steps/hooks/useDismissFirstStepsMutation.ts
  apps/web/src/features/first-steps/hooks/useFirstStepsWidget.ts
  apps/web/src/features/first-steps/hooks/useTrackRouteVisit.ts
  apps/web/src/services/api/notifications.ts
  apps/web/src/types/features/firstStepsTypes.ts
  apps/web/src/types/features/notificationTypes.ts
  tools/lints/plr_complexity_baseline.txt
Due: none

chore(oauth): move the signup-hang fix out of this branch
  apps/api/app/services/oauth/oauth_service.py
  apps/api/tests/unit/services/test_oauth_service.py
Due: none

refactor(briefing,platform-link): clear two complexity-ratchet items
  apps/api/app/services/briefing/edition_email.py
  apps/api/app/services/briefing/render.py
  apps/api/app/services/platform_link_service.py
Due: none

chore(web): drop three files orphaned by removing the Today view
  apps/web/src/features/first-steps/hooks/useMarkFirstStepMutation.ts
  apps/web/src/features/todo/components/shared/ApproveConfirmModal.tsx
  apps/web/src/features/todo/utils/time.ts
Due: none

chore(web): drop stale Today-view rationale from react-doctor override
  apps/web/doctor.config.jsonc
Due: none

fix(web): fetch canvas on every open so a todo switch never shows the previous todo's canvas
  apps/web/src/__tests__/todo-canvas-stale-switch.test.tsx
  apps/web/src/features/todo/api/todoApi.ts
  apps/web/src/features/todo/components/shared/WorkLogSection.tsx
  apps/web/src/features/todo/hooks/useTodoCanvas.ts
  libs/shared/ts/src/api/todosApi.ts
Due: none

ci(react-doctor): pin the scanner to the lockfile version
  .github/workflows/react-doctor.yml
Due: none

chore(lint): drop the stale PLC0415 exemption for maintenance_sweep_tasks
  pyproject.toml
Due: none

chore(deps): pin browserslist to 4.28.7 through pnpm overrides
  package.json
  pnpm-lock.yaml
Due: none

refactor(api): clear the ratchet on the files the fixes touched
  apps/api/app/agents/core/nodes/memory_node.py
  apps/api/app/agents/memory/email_processor.py
  apps/api/app/helpers/email_helpers.py
  apps/api/app/memory/ingestion.py
  apps/api/app/utils/notification/orchestrator.py
  apps/api/app/utils/notification/storage.py
  apps/api/app/workers/tasks/memory_backfill_tasks.py
  apps/api/tests/e2e/test_onboarding.py
  apps/api/tests/unit/agents/nodes/test_memory_node.py
  apps/api/tests/unit/agents/test_email_processor.py
  apps/api/tests/unit/helpers/test_email_helpers.py
  apps/api/tests/unit/memory/test_ingestion.py
  apps/api/tests/unit/utils/test_notification_orchestrator.py
  apps/api/tests/unit/utils/test_notification_storage.py
  apps/api/tests/unit/workers/test_memory_backfill_tasks.py
Due: none

refactor(memory): memory_node derives the extraction prompt itself and formats one message at a time
  apps/api/app/agents/core/nodes/memory_node.py
  apps/api/tests/unit/agents/nodes/test_memory_node.py
  apps/api/tests/unit/memory/test_ingestion.py
  tools/lints/plr_complexity_baseline.txt
Due: none

fix(api): finish the retain migration and make the index test derive its creators
  apps/api/app/db/mongodb/indexes.py
  apps/api/scripts/memory_benchmark/longmemeval.py
  apps/api/scripts/memory_benchmark/runner.py
  apps/api/tests/integration/real/memory/test_consolidation.py
  apps/api/tests/integration/real/memory/test_episodes.py
  apps/api/tests/integration/real/memory/test_ingestion.py
  apps/api/tests/integration/real/memory/test_lineage.py
  apps/api/tests/integration/real/memory/test_reconciliation.py
  apps/api/tests/unit/db/test_mongodb.py
Due: none

fix(deps): drop our browserslist override, master shipped the same one
  pnpm-lock.yaml
Due: none

fix(tests): point master's agent-request test at the seams this branch renamed
  apps/api/tests/integration/test_tracked_todo_agent_request.py
Due: none

fix(lints): type the ruff stub helper so the strict mypy lane passes
  tools/lints/test_lints.py
Due: none

test(follow-up): one seam harness instead of nine copies of the same arrange block
  apps/api/tests/unit/agents/nodes/test_follow_up_actions.py
Due: none

test(follow-up): make the seam harness a dataclass
  apps/api/tests/unit/agents/nodes/test_follow_up_actions.py
Due: none

test: kill every mutation survivor the gate found
  apps/api/app/agents/tools/notification_tool.py
  apps/api/app/agents/tools/tracked_todo_tools.py
  apps/api/app/config/rate_limits.py
  apps/api/tests/unit/agents/nodes/test_memory_node.py
  apps/api/tests/unit/agents/test_agent_core.py
  apps/api/tests/unit/agents/test_executor_runner_delivery.py
  apps/api/tests/unit/config/test_rate_limits.py
  apps/api/tests/unit/constants/test_todos.py
  apps/api/tests/unit/memory/test_consolidation.py
  apps/api/tests/unit/memory/test_extraction_prompt_cache.py
  apps/api/tests/unit/tools/test_notification_tool.py
  apps/api/tests/unit/tools/test_tracked_todo_tools.py
  apps/api/tests/unit/utils/notification/channels/test_email.py
Due: none

test(onboarding): stub both system-workflow provisioning paths
  apps/api/tests/e2e/test_onboarding.py
Due: none

fix(todos): a queued run must not be recorded as completed work
  apps/api/app/workers/tasks/tracked_todo_tasks.py
  apps/api/tests/unit/utils/notification/channels/test_email.py
  apps/api/tests/unit/workers/test_maintenance_sweep_tasks.py
  apps/api/tests/unit/workers/test_tracked_todo_tasks.py
  apps/api/tests/unit/workers/test_workflow_tasks_briefing.py
Due: none

test(api): close the gaps the mutation gate found across 21 modules
  apps/api/app/models/user_models.py
  apps/api/app/services/briefing/edition_email.py
  apps/api/app/services/briefing/editions/_shared.py
  apps/api/app/services/briefing/editions/explorer_adapter.py
  apps/api/app/services/briefing/editions/explorer_render.py
  apps/api/app/services/briefing/editions/gaia.py
  apps/api/app/services/storage/_vfs_common.py
  apps/api/app/services/storage/gaia_tasks_vfs.py
  apps/api/app/services/tracked_todo_service.py
  apps/api/tests/unit/api/test_notification_endpoint.py
  apps/api/tests/unit/api/test_todos_endpoint.py
  apps/api/tests/unit/memory/test_ingestion.py
  apps/api/tests/unit/services/briefing/editions/test_explorer_adapter.py
  apps/api/tests/unit/services/briefing/editions/test_explorer_render.py
  apps/api/tests/unit/services/briefing/editions/test_gaia.py
  apps/api/tests/unit/services/briefing/test_edition_email.py
  apps/api/tests/unit/services/briefing/test_edition_rotation.py
  apps/api/tests/unit/services/briefing/test_rollout.py
  apps/api/tests/unit/services/test_first_steps_service.py
  apps/api/tests/unit/services/test_platform_link_service.py
  apps/api/tests/unit/services/test_system_workflows.py
  apps/api/tests/unit/services/test_todo_canvas_storage.py
  apps/api/tests/unit/services/test_tracked_todo_service.py
  apps/api/tests/unit/storage/test_gaia_tasks_vfs.py
  apps/api/tests/unit/storage/test_vfs_common.py
  apps/api/tests/unit/utils/notification/test_email_templates.py
  apps/api/tests/unit/utils/test_canvas_vector_utils.py
  apps/api/tests/unit/utils/test_timezone_matrix.py
Due: none

Path conditions:
  frontend-barrels: any of: *.{ts,tsx} and ^frontend/
  frontend-lint: any of: *.{ts,tsx} and ^frontend/
  frontend-format: any of: *.{ts,tsx} and ^frontend/
  backend-lint: any of: *.py and ^backend/
  backend-types: any of: *.py and ^backend/
  frontend-types: any of: *.{ts,tsx} and ^frontend/
  backend-security: any of: *.py and ^backend/
