Repository heygaia/gaia: changes, and which lefthook commands are due for each by the changed paths.
All: frontend-barrels, frontend-lint, frontend-format, backend-lint, backend-types, frontend-types, backend-security

frontend-barrels:
  run: pnpm generate-barrels
  stage_fixed: true

frontend-lint:
  run: pnpm check:staged
  stage_fixed: true

frontend-format:
  run: pnpm format:staged
  stage_fixed: true

backend-lint:
  run: uvx ruff check --fix {staged_files} && uvx ruff format {staged_files}
  stage_fixed: true

backend-types:
  run: uvx ty check {staged_files}

frontend-types:
  run: pnpm type

backend-security:
  run: uvx bandit {staged_files}

ci(auto-fix): Apply ESLint formatting
  frontend/src/app/page.tsx
  frontend/src/features/contact/components/ContactSidebar.tsx
Due: frontend-barrels, frontend-lint, frontend-format, frontend-types

feat: Enhance backend configuration and service initialization
  backend/.env.example
  backend/app/core/lifespan.py
  backend/app/db/mongodb/indexes.py
  backend/app/helpers/lifespan_helpers.py
  backend/app/services/startup_validation.py
  backend/scripts/__init__.py
  backend/scripts/payment_setup.py
  backend/scripts/run_dodo_setup.sh
  scripts/setup.sh
Due: backend-lint, backend-types, backend-security

ci(auto-fix): Apply pre-commit hooks formatting
  backend/app/helpers/lifespan_helpers.py
Due: backend-lint, backend-types, backend-security

chore: remove frontend CHANGELOG.md file and update release-please configuration
  backend/CHANGELOG.md
  frontend/CHANGELOG.md
  release-please-config.json
Due: none

feat: Enhance Use Cases and Workflow components with new UI elements and improved layout
  frontend/src/app/(landing)/use-cases/page.tsx
  frontend/src/components/shared/icons.tsx
  frontend/src/features/chat/components/composer/SelectedToolIndicator.tsx
  frontend/src/features/chat/utils/toolIcons.tsx
  frontend/src/features/use-cases/components/UseCaseCard.tsx
  frontend/src/features/workflows/components/CommunityWorkflowCard.tsx
  frontend/src/features/workflows/components/UserWorkflowCard.tsx
  frontend/src/features/workflows/components/WorkflowCard.tsx
  frontend/src/features/workflows/components/WorkflowModal.tsx
  frontend/src/features/workflows/components/WorkflowPage.tsx
  frontend/src/features/workflows/components/shared/BaseWorkflowCard.tsx
Due: frontend-barrels, frontend-lint, frontend-format, frontend-types

refactor: workflow components and enhance execution tracking
  backend/app/services/workflow/service.py
  backend/app/workers/tasks/workflow_tasks.py
  backend/scripts/seed_workflows.py
  frontend/src/features/use-cases/components/UseCaseSection.tsx
  frontend/src/features/workflows/components/CommunityWorkflowCard.tsx
  frontend/src/features/workflows/components/UserWorkflowCard.tsx
  frontend/src/features/workflows/components/WorkflowPage.tsx
  frontend/src/features/workflows/components/shared/BaseWorkflowCard.tsx
  frontend/src/features/workflows/components/shared/UnifiedWorkflowCard.tsx
  frontend/src/types/features/workflowTypes.ts
  frontend/src/utils/formatters.ts
Due: frontend-barrels, frontend-lint, frontend-format, backend-lint, backend-types, frontend-types, backend-security

refactor: Update tool registry access and initialization across multiple modules
  backend/app/agents/core/graph_builder/build_graph.py
  backend/app/agents/core/nodes/follow_up_actions_node.py
  backend/app/agents/core/subagents/base_subagent.py
  backend/app/agents/tools/core/registry.py
  backend/app/agents/tools/core/retrieval.py
  backend/app/agents/tools/core/store.py
  backend/app/api/v1/dependencies/google_scope_dependencies.py
  backend/app/api/v1/endpoints/oauth.py
  backend/app/core/lazy_loader.py
  backend/app/core/lifespan.py
  backend/app/services/composio/composio_service.py
  backend/app/services/mail/mail_service.py
  backend/app/services/tools_service.py
  backend/app/services/workflow/generation_service.py
  backend/app/utils/agent_utils.py
Due: backend-lint, backend-types, backend-security

ci(auto-fix): Apply pre-commit hooks formatting
  backend/app/agents/tools/core/store.py
  backend/app/core/lazy_loader.py
  backend/app/core/lifespan.py
  backend/app/services/composio/composio_service.py
Due: backend-lint, backend-types, backend-security

feat: Refactor chat interface and add chat suggestions feature
  frontend/src/app/(landing)/use-cases/page.tsx
  frontend/src/components/shared/icons.tsx
  frontend/src/features/chat/components/composer/ComposerInput.tsx
  frontend/src/features/chat/components/interface/BaseCardView.tsx
  frontend/src/features/chat/components/interface/ChatPage.tsx
  frontend/src/features/chat/components/interface/StarterText.tsx
  frontend/src/features/chat/components/interface/layouts/NewChatLayout.tsx
  frontend/src/features/chat/components/interface/sections/ChatSuggestions.tsx
  frontend/src/features/chat/components/interface/sections/GridSection.tsx
  frontend/src/features/chat/components/interface/sections/NewChatSection.tsx
  frontend/src/features/chat/utils/toolIcons.tsx
  frontend/src/features/use-cases/components/UseCaseSection.tsx
  frontend/src/features/workflows/components/CommunityWorkflowCard.tsx
  frontend/src/features/workflows/components/WorkflowCard.tsx
  frontend/src/features/workflows/components/WorkflowPage.tsx
  frontend/src/features/workflows/components/WorkflowSkeletons.tsx
  frontend/src/features/workflows/components/index.ts
  frontend/src/features/workflows/components/shared/BaseWorkflowCard.tsx
  frontend/src/features/workflows/components/shared/UnifiedWorkflowCard.tsx
  frontend/src/features/workflows/components/shared/WorkflowCardComponents.tsx
Due: frontend-barrels, frontend-lint, frontend-format, frontend-types

feat: Enhance subscription data fixer script with detailed logging and interactive options
  backend/app/agents/core/graph_builder/checkpointer_manager.py
  backend/app/agents/llm/client.py
  backend/app/agents/templates/mail_templates.py
  backend/app/agents/tools/core/registry.py
  backend/app/constants/llm.py
  backend/app/core/lifespan.py
  backend/app/helpers/agent_helpers.py
  backend/app/services/memory_service.py
  backend/app/services/model_service.py
  backend/app/services/payments/payment_service.py
  backend/app/services/workflow/scheduler.py
  backend/app/utils/image_utils.py
  backend/app/utils/notification/sources.py
  backend/scripts/fix_subscription_data.py
Due: backend-lint, backend-types, backend-security

ci(auto-fix): Apply pre-commit hooks formatting
  backend/app/agents/tools/core/registry.py
  backend/scripts/fix_subscription_data.py
Due: backend-lint, backend-types, backend-security

refactor: move startup validation to load lazily
  backend/app/core/lifespan.py
  backend/app/services/startup_validation.py
Due: backend-lint, backend-types, backend-security

feat: Refactor to use async functions for tool registry and store access, enhancing performance and concurrency
  backend/app/agents/core/graph_builder/build_graph.py
  backend/app/agents/core/nodes/follow_up_actions_node.py
  backend/app/agents/core/subagents/base_subagent.py
  backend/app/agents/core/subagents/provider_subagents.py
  backend/app/agents/tools/core/registry.py
  backend/app/agents/tools/core/retrieval.py
  backend/app/agents/tools/core/store.py
  backend/app/helpers/agent_helpers.py
  backend/app/main.py
  backend/app/override/langgraph_bigtool/create_agent.py
  backend/app/services/composio/composio_service.py
  backend/app/services/tools_service.py
  backend/app/services/workflow/generation_service.py
  backend/app/utils/agent_utils.py
Due: backend-lint, backend-types, backend-security

refactor: Move deprecation warning suppression to lifespan.py for cleaner main module
  backend/app/core/lifespan.py
  backend/app/main.py
Due: backend-lint, backend-types, backend-security

refactor: remove caching decorator from health check endpoint
  backend/app/api/v1/endpoints/health.py
Due: backend-lint, backend-types, backend-security

fix: Ensure uvloop event loop policy is only run on windows
  backend/app/core/lifespan.py
  backend/app/core/lifespan_helpers.py
  backend/app/helpers/lifespan_helpers.py
Due: backend-lint, backend-types, backend-security

fix: Exclude uvloop dependency on non-Windows platforms
  backend/pyproject.toml
Due: none

chore: Delete backend/app/core/lifespan_helpers.py
  backend/app/core/lifespan_helpers.py
Due: backend-lint, backend-types, backend-security

refactor: Remove unused tools store initialization function
  backend/app/helpers/lifespan_helpers.py
Due: backend-lint, backend-types, backend-security

feat: implement voice agent session management and integration with backend services
  backend/voice_agent/src/__init__.py
  backend/voice_agent/src/config.py
  backend/voice_agent/src/llm.py
  backend/voice_agent/src/session.py
  backend/voice_agent/src/utils.py
  backend/voice_agent/src/voice_agent.py
Due: backend-lint, backend-types, backend-security

refactor(chat-caching): optimize send flow, sync, and delete operations
  frontend/src/features/chat/api/chatApi.ts
  frontend/src/features/chat/components/composer/Composer.tsx
  frontend/src/hooks/useDeleteConversation.ts
  frontend/src/hooks/useSendMessage.ts
  frontend/src/services/syncService.ts
Due: frontend-barrels, frontend-lint, frontend-format, frontend-types

feat: Update chat suggestions handling and enhance UI components with new props
  frontend/src/features/chat/components/interface/sections/ChatSuggestions.tsx
  frontend/src/features/landing/components/hero/HeroSection.tsx
  frontend/src/features/landing/components/hero/SplitTextBlur.tsx
  frontend/src/features/landing/components/sections/Personalised.tsx
  frontend/src/features/pricing/components/PricingPage.tsx
  frontend/src/layouts/MotionContainer.tsx
Due: frontend-barrels, frontend-lint, frontend-format, frontend-types

feat: Add testimonials section and comparison table to pricing page
  frontend/components.json
  frontend/next.config.mjs
  frontend/src/app/page.tsx
  frontend/src/app/styles/tailwind.css
  frontend/src/components/shared/icons.tsx
  frontend/src/components/ui/marquee.tsx
  frontend/src/features/landing/components/sections/TestimonialsSection.tsx
  frontend/src/features/landing/data/testimonials.ts
  frontend/src/features/pricing/components/ComparisonTable.tsx
  frontend/src/features/pricing/components/PricingPage.tsx
Due: frontend-barrels, frontend-lint, frontend-format, frontend-types

feat: Improve heading and description in ComparisonTable component for clarity
  frontend/src/features/pricing/components/ComparisonTable.tsx
Due: frontend-barrels, frontend-lint, frontend-format, frontend-types

feat: Enhance UI components across multiple sections for improved responsiveness and visual consistency
  frontend/public/animations/seamless.json
  frontend/src/components/navigation/Footer.tsx
  frontend/src/features/landing/components/sections/FinalSection.tsx
  frontend/src/features/landing/components/sections/OpenSource.tsx
  frontend/src/features/landing/components/sections/Personalised.tsx
  frontend/src/features/landing/components/sections/Productivity.tsx
  frontend/src/features/landing/components/sections/TestimonialsSection.tsx
  frontend/src/features/landing/components/sections/TiredBoringAssistants.tsx
  frontend/src/features/landing/components/sections/TodosBentoContent.tsx
  frontend/src/features/landing/components/sections/ToolsShowcaseSection.tsx
  frontend/src/features/landing/components/sections/WorkflowSection.tsx
Due: frontend-barrels, frontend-lint, frontend-format, frontend-types

fix: Update button and icon color handling in SettingsSidebar for better visibility
  frontend/src/components/layout/sidebar/variants/SettingsSidebar.tsx
Due: frontend-barrels, frontend-lint, frontend-format, frontend-types

feat: Enhance onboarding experience with integration buttons and improved message handling
  frontend/src/app/(main)/onboarding/page.tsx
  frontend/src/app/styles/globals.css
  frontend/src/features/chat/components/bubbles/bot/ChatBubbleBot.tsx
  frontend/src/features/chat/components/bubbles/user/ChatBubbleUser.tsx
  frontend/src/features/landing/components/demo/SimpleChatBubbles.tsx
  frontend/src/features/onboarding/components/OnboardingComplete.tsx
  frontend/src/features/onboarding/components/OnboardingInput.tsx
  frontend/src/features/onboarding/components/OnboardingIntegrationButtons.tsx
  frontend/src/features/onboarding/components/OnboardingMessages.tsx
  frontend/src/features/onboarding/hooks/useOnboarding.ts
Due: frontend-barrels, frontend-lint, frontend-format, frontend-types

feat: Implement custom logout hook to clear react query cache and stores after logging out
  frontend/src/features/auth/hooks/index.ts
  frontend/src/features/auth/hooks/useLogout.ts
  frontend/src/features/settings/components/SettingsMenu.tsx
Due: frontend-barrels, frontend-lint, frontend-format, frontend-types

feat: Implement Gmail email processing to Mem0 as an ARQ background task
  backend/app/agents/memory/email_processor.py
  backend/app/api/v1/endpoints/oauth.py
  backend/app/config/loggers.py
  backend/app/models/mail_models.py
  backend/app/utils/memory_utils.py
  backend/app/worker.py
  backend/app/workers/tasks/__init__.py
  backend/app/workers/tasks/memory_email_tasks.py
Due: backend-lint, backend-types, backend-security

feat: refactor Gmail subgraph to use a factory function and improve node initialization
  backend/app/langchain/core/framework/plan_and_execute.py
  backend/app/langchain/core/subagents/provider_subagents.py
  backend/app/langchain/core/subgraphs/gmail_subgraph.py
Due: backend-lint, backend-types, backend-security

feat: refactor Gmail subgraph to utilize reusable node configurations and streamline execution flow
  backend/app/langchain/core/framework/plan_and_execute.py
  backend/app/langchain/core/subgraphs/gmail_subgraph.py
Due: backend-lint, backend-types, backend-security

feat: implement utility functions for plan-and-execute framework, including result formatting and context extraction
  backend/app/langchain/core/framework/plan_and_execute.py
  backend/app/utils/plan_and_execute_utils.py
Due: backend-lint, backend-types, backend-security

fix: Remove broken pagination for fetching all memories
  backend/app/agents/tools/memory_tools.py
  backend/app/api/v1/endpoints/connect.py
  backend/app/api/v1/endpoints/memory.py
  backend/app/api/v1/routes.py
  backend/app/models/memory_models.py
  backend/app/services/memory_service.py
  backend/app/templates/docstrings/memory_tool_docs.py
  backend/app/utils/notification/storage.py
  frontend/src/features/memory/api/memoryApi.ts
  frontend/src/features/memory/components/MemoryManagement.tsx
Due: frontend-barrels, frontend-lint, frontend-format, backend-lint, backend-types, frontend-types, backend-security

feat: Implement ARQ worker for Gmail email processing and memory storage
  backend/app/agents/core/messages.py
  backend/app/agents/memory/email_processor.py
  backend/app/core/lifespan.py
  backend/app/core/provider_registration.py
  backend/app/helpers/message_helpers.py
  backend/app/services/composio/composio_service.py
  backend/app/services/mail/mail_service.py
  backend/app/services/memory_service.py
  backend/app/worker.py
  backend/app/workers/lifecycle/startup.py
  backend/app/workers/tasks/__init__.py
  backend/app/workers/tasks/memory_email_tasks.py
  backend/app/workers/tasks/memory_tasks.py
  backend/pyproject.toml
  backend/scripts/test_email_processor.py
  docker-compose.prod.yml
  docker-compose.yml
Due: backend-lint, backend-types, backend-security

fix: Update RedisCache to check for None instead of truthy value in get_cache method
  backend/app/db/redis.py
Due: backend-lint, backend-types, backend-security

chore: Enhance lifespan and startup processes with detailed comments and structured initialization for providers
  backend/app/core/lifespan.py
  backend/app/core/provider_registration.py
  backend/app/db/redis.py
  backend/app/workers/lifecycle/startup.py
Due: backend-lint, backend-types, backend-security

feat: Refactor Gmail subgraph and integrate new tools
  backend/app/agents/core/subagents/provider_subagents.py
  backend/app/config/oauth_config.py
  backend/app/db/postgresql.py
  backend/app/decorators/caching.py
  backend/app/langchain/core/framework/plan_and_execute.py
  backend/app/langchain/core/subgraphs/gmail_subgraph.py
  backend/app/services/composio/composio_service.py
  backend/app/services/model_service.py
  backend/app/utils/redis_utils.py
  frontend/src/features/chat/components/interface/ChatPage.tsx
  frontend/src/features/integrations/components/IntegrationsCard.tsx
  frontend/src/features/integrations/hooks/useIntegrations.ts
Due: frontend-barrels, frontend-lint, frontend-format, backend-lint, backend-types, frontend-types, backend-security

feat: Enhance calendar event fetching with transformation and limit parameters
  backend/app/agents/llm/client.py
  backend/app/agents/tools/calendar_tool.py
  backend/app/decorators/integration.py
  backend/app/langchain/core/framework/plan_and_execute.py
  backend/app/services/calendar_service.py
  backend/app/templates/docstrings/calendar_tool_docs.py
  frontend/src/features/chat/components/interface/ChatPage.tsx
  frontend/src/features/integrations/components/IntegrationsCard.tsx
  frontend/src/features/landing/components/hero/HeroSection.tsx
Due: frontend-barrels, frontend-lint, frontend-format, backend-lint, backend-types, frontend-types, backend-security

refactor: Move triggers array outside component, adjust animation settings
  frontend/public/animations/seamless.json
  frontend/src/features/landing/components/sections/WorkflowSection.tsx
Due: frontend-barrels, frontend-lint, frontend-format, frontend-types

Path conditions:
  frontend-barrels: any of: *.{ts,tsx} and ^frontend/
  frontend-lint: any of: *.{ts,tsx} and ^frontend/
  frontend-format: any of: *.{ts,tsx} and ^frontend/
  backend-lint: any of: *.py and ^backend/
  backend-types: any of: *.py and ^backend/
  frontend-types: any of: *.{ts,tsx} and ^frontend/
  backend-security: any of: *.py and ^backend/
