Repository heygaia/gaia: changes, and which lefthook commands are due for each by the changed paths.
All: frontend-barrels, frontend-lint, frontend-format, backend-lint, backend-types, frontend-types, backend-security

frontend-barrels:
  run: pnpm generate-barrels
  stage_fixed: true

frontend-lint:
  run: pnpm check:staged
  stage_fixed: true

frontend-format:
  run: pnpm format:staged
  stage_fixed: true

backend-lint:
  run: uvx ruff check --fix {staged_files} && uvx ruff format {staged_files}
  stage_fixed: true

backend-types:
  run: uvx ty check {staged_files}

frontend-types:
  run: pnpm type

backend-security:
  run: uvx bandit {staged_files}

docs: Update environment variable documentation and add lazy loading guides
  docs/configuration/environment-variables.mdx
  docs/developers/extra/lazy-loading.mdx
  docs/developers/extra/release-workflow.mdx
  docs/docs.json
  docs/self-hosting/overview.mdx
Due: none

docs: Expand developer documentation with new environment variable guides and lazy loading resources
  docs/configuration/environment-variables.mdx
  docs/developers/extra/add-env-vars.mdx
  docs/developers/extra/add-tools.mdx
  docs/developers/extra/frontend-config.mdx
  docs/developers/extra/lazy-loading.mdx
  docs/docs.json
  frontend/public/images/wallpapers/image.png
  frontend/public/images/wallpapers/sf_night.png
  frontend/public/images/wallpapers/sf_night_high_res.png
  frontend/public/images/wallpapers/switzerland.png
  frontend/public/images/wallpapers/switzerland_night.png
  frontend/src/app/page.tsx
  frontend/src/features/landing/components/hero/HeroSection.tsx
Due: frontend-barrels, frontend-lint, frontend-format, frontend-types

feat: Enhance landing page visuals and component structure
  frontend/src/app/page.tsx
  frontend/src/components/navigation/NavbarMenu.tsx
  frontend/src/features/landing/components/hero/HeroSection.tsx
  frontend/src/features/landing/components/hero/SplitTextBlur.tsx
Due: frontend-barrels, frontend-lint, frontend-format, frontend-types

ci(auto-fix): Apply ESLint formatting
  frontend/src/app/page.tsx
Due: frontend-barrels, frontend-lint, frontend-format, frontend-types

chore: remove fs dependency
  frontend/package.json
  frontend/pnpm-lock.yaml
Due: none

fix: update social media links in About Service to reflect new branding
  backend/app/services/about_service.py
Due: backend-lint, backend-types, backend-security

chore: remove unused httpx import from google_scope_dependencies.py
  backend/app/api/v1/dependencies/google_scope_dependencies.py
Due: backend-lint, backend-types, backend-security

refactor: optimize message handling in create_handoff_tool to reduce duplication
  backend/app/langchain/core/subagents/handoff_tools.py
Due: backend-lint, backend-types, backend-security

fix: update user authentication checks in goal_tool to simplify logic
  backend/app/langchain/tools/goal_tool.py
Due: backend-lint, backend-types, backend-security

fix: enhance error handling in Google scope dependencies
  backend/app/api/v1/dependencies/google_scope_dependencies.py
Due: backend-lint, backend-types, backend-security

fix: improve tool name retrieval in format_tool_progress function
  backend/app/langchain/core/agent_utils.py
Due: backend-lint, backend-types, backend-security

fix: await GraphManager.set_graph in ARQ worker startup for proper async handling
  backend/app/workers/lifecycle/startup.py
Due: backend-lint, backend-types, backend-security

fix: enhance chunk handling in generate_roadmap_with_llm_stream function
  backend/app/services/goals_service.py
Due: backend-lint, backend-types, backend-security

fix: update checkpointer manager functions to return Optional types
  backend/app/langchain/core/graph_builder/checkpointer_manager.py
Due: backend-lint, backend-types, backend-security

fix: improve error handling for checkpointer manager retrieval
  backend/app/langchain/core/graph_builder/build_graph.py
Due: backend-lint, backend-types, backend-security

refactor: remove unused Composio message handling and improve async sleep in mail service
  backend/app/langchain/templates/mail_templates.py
  backend/app/services/mail_service.py
Due: backend-lint, backend-types, backend-security

feat: implement token tracking callback for LLM interactions and update related components
  backend/app/langchain/callbacks/token_callback.py
  backend/app/langchain/core/agent.py
  backend/app/langchain/core/agent_helpers.py
  backend/app/models/chat_models.py
  backend/app/services/chat_service.py
Due: backend-lint, backend-types, backend-security

feat: Revise follow-up actions suggestions and enhance agent prompt mirroring
  backend/app/docstrings/langchain/tools/follow_up_actions_tool_docs.py
  backend/app/langchain/core/nodes/follow_up_actions_node.py
  backend/app/langchain/prompts/agent_prompts.py
Due: backend-lint, backend-types, backend-security

feat: replace TokenTrackingCallback with UsageMetadataCallbackHandler for improved token usage tracking
  backend/app/langchain/callbacks/token_callback.py
  backend/app/langchain/core/agent.py
  backend/app/langchain/core/agent_helpers.py
  backend/app/langchain/llm/client.py
  backend/app/services/chat_service.py
  backend/app/workers/tasks/workflow_tasks.py
  backend/pyproject.toml
Due: backend-lint, backend-types, backend-security

feat: implement model pricing configuration and token cost calculation; enhance usage tracking with credit usage and aggregation
  backend/app/api/v1/router/usage.py
  backend/app/config/model_pricing.py
  backend/app/config/rate_limits.py
  backend/app/db/mongodb/indexes.py
  backend/app/decorators/rate_limiting.py
  backend/app/middleware/tiered_rate_limiter.py
  backend/app/models/usage_models.py
  backend/app/services/chat_service.py
  backend/app/services/usage_service.py
Due: backend-lint, backend-types, backend-security

feat: update pricing for input and output tokens in models configuration
  backend/scripts/seed_models.py
Due: backend-lint, backend-types, backend-security

ci(auto-fix): Apply pre-commit hooks formatting
  backend/app/config/model_pricing.py
Due: backend-lint, backend-types, backend-security

feat: added plan and execute graph
  backend/app/langchain/core/framework/__init__.py
  backend/app/langchain/core/framework/plan_and_execute.py
  backend/app/langchain/core/framework/plan_and_execute2.py
  backend/app/langchain/core/graph_builder/build_graph.py
  backend/app/langchain/core/subagents/provider_subagents.py
  backend/app/langchain/core/subgraphs/__init__.py
  backend/app/langchain/core/subgraphs/gmail_subgraph.py
  backend/app/langchain/prompts/gmail_node_prompts.py
  backend/app/services/token_service.py
  backend/app/utils/redis_utils.py
  backend/app/workers/tasks/workflow_tasks.py
Due: backend-lint, backend-types, backend-security

chore: release master
  .release-please-manifest.json
  CHANGELOG.md
  backend/CHANGELOG.md
  backend/pyproject.toml
  frontend/CHANGELOG.md
  frontend/package.json
Due: none

refactor: Update chat components for improved scroll behavior and UI consistency
  frontend/src/features/chat/components/bubbles/bot/ChatBubbleBot.tsx
  frontend/src/features/chat/components/bubbles/user/ChatBubbleUser.tsx
  frontend/src/features/chat/components/interface/ChatPage.tsx
  frontend/src/features/chat/components/interface/ChatRenderer.tsx
  frontend/src/features/chat/components/interface/ScrollForMoreButton.tsx
  frontend/src/features/chat/components/interface/ScrollToBottomButton.tsx
  frontend/src/features/chat/components/interface/hooks/useScrollBehavior.ts
  frontend/src/features/chat/components/interface/layouts/ChatWithMessages.tsx
  frontend/src/features/chat/components/interface/layouts/NewChatLayout.tsx
  frontend/src/features/chat/components/interface/scroll/ScrollButtons.tsx
  frontend/src/features/chat/components/interface/scroll/index.ts
  frontend/src/features/chat/components/interface/sections/ChatSection.tsx
Due: frontend-barrels, frontend-lint, frontend-format, frontend-types

chore: Add .cursor to .gitignore
  .gitignore
Due: none

docs: Update developer documentation structure and content
  docs/developers/extra/add-env-vars.mdx
  docs/developers/extra/frontend-config.mdx
  docs/developers/extra/release-workflow.mdx
  docs/docs.json
Due: none

ci(auto-fix): Apply ESLint formatting
  frontend/src/features/chat/components/composer/SlashCommandDropdown.tsx
  frontend/src/features/chat/components/interface/hooks/useScrollBehavior.ts
  frontend/src/features/use-cases/components/UseCaseCard.tsx
  frontend/src/features/use-cases/components/UseCaseSection.tsx
  frontend/src/features/workflows/components/WorkflowPage.tsx
  frontend/src/features/workflows/components/WorkflowSkeletons.tsx
  frontend/src/features/workflows/components/shared/BaseWorkflowCard.tsx
Due: frontend-barrels, frontend-lint, frontend-format, frontend-types

feat: Add high-resolution wallpaper image and update landing page reference
  frontend/public/images/wallpapers/sf_night_high_res.webp
  frontend/src/app/page.tsx
Due: frontend-barrels, frontend-lint, frontend-format, frontend-types

refactor: Clean up ChatPage component and update index exports
  frontend/src/features/chat/components/interface/ChatPage.tsx
  frontend/src/features/chat/components/interface/index.ts
Due: frontend-barrels, frontend-lint, frontend-format, frontend-types

fix: prevent 'your workflows' click from scrolling page to top
  frontend/src/features/use-cases/components/UseCaseSection.tsx
Due: frontend-barrels, frontend-lint, frontend-format, frontend-types

chore: update clean code guidelines for editing practices and code structure
  .github/instructions/Clean Code.instructions.md
Due: none

feat: add beartype dependency for type checking support
  backend/app/__init__.py
  backend/pyproject.toml
Due: backend-lint, backend-types, backend-security

chore: remove authors section and add task commands to pyproject.toml
  backend/pyproject.toml
Due: none

feat: implement PyInstrument profiling middleware for detailed performance analysis and add configuration documentation
  backend/app/api/v1/router/chat.py
  backend/app/config/settings.py
  backend/app/core/middleware.py
  backend/app/decorators/__init__.py
  backend/app/decorators/profiling.py
  backend/app/utils/profiler_utils.py
  backend/pyproject.toml
  docs/configuration/profiling.mdx
  docs/docs.json
Due: backend-lint, backend-types, backend-security

feat: add stackprinter dependency and configure exception hook in __init__.py
  backend/app/__init__.py
  backend/pyproject.toml
Due: backend-lint, backend-types, backend-security

feat: implement advanced logging system with Loguru and contextual loggers
  backend/app/config/loggers.py
  backend/app/config/logging.py
  backend/app/config/token_repository.py
  backend/app/core/lifespan.py
  backend/app/decorators/__init__.py
  backend/app/decorators/logging.py
  backend/app/utils/logging_utils.py
  backend/app/utils/session_logger/base_session_logger.py
  backend/app/utils/session_logger/email_session_logger.py
  backend/pyproject.toml
  docs/configuration/logging.mdx
  docs/docs.json
Due: backend-lint, backend-types, backend-security

feat: enhance health check endpoint to include project information and add fastapi-cache2 dependency
  backend/app/api/v1/router/health.py
  backend/app/utils/general_utils.py
  backend/pyproject.toml
Due: backend-lint, backend-types, backend-security

feat: implement caching decorators with type-safe model support and apply caching to various endpoints and services
  backend/app/api/v1/router/blog.py
  backend/app/api/v1/router/health.py
  backend/app/api/v1/router/models.py
  backend/app/api/v1/router/team.py
  backend/app/api/v1/router/tools.py
  backend/app/db/redis.py
  backend/app/decorators/caching.py
  backend/app/services/blog_service.py
  backend/app/services/composio_service.py
  backend/app/services/file_service.py
  backend/app/services/model_service.py
  backend/app/services/tools_service.py
  backend/app/utils/cache_utils.py
  backend/pyproject.toml
Due: backend-lint, backend-types, backend-security

feat: update clean code guidelines, enhance token repository imports, and improve app factory response handling
  .github/instructions/Clean Code.instructions.md
  .gitignore
  backend/app/config/token_repository.py
  backend/app/core/app_factory.py
  backend/app/workers/lifecycle/startup.py
  backend/pyproject.toml
Due: backend-lint, backend-types, backend-security

Path conditions:
  frontend-barrels: any of: *.{ts,tsx} and ^frontend/
  frontend-lint: any of: *.{ts,tsx} and ^frontend/
  frontend-format: any of: *.{ts,tsx} and ^frontend/
  backend-lint: any of: *.py and ^backend/
  backend-types: any of: *.py and ^backend/
  frontend-types: any of: *.{ts,tsx} and ^frontend/
  backend-security: any of: *.py and ^backend/
