Repository heygaia/gaia: changes, and which lefthook commands are due for each by the changed paths.
All: frontend-barrels, frontend-lint, frontend-format, backend-lint, backend-types, frontend-types, backend-security

lefthook.yml:

pre-commit:
  parallel: true

  commands:
    frontend-barrels:
      glob: "*.{ts,tsx}"
      root: "frontend/"
      run: pnpm generate-barrels
      stage_fixed: true

    frontend-lint:
      glob: "*.{ts,tsx}"
      root: "frontend/"
      run: pnpm check:staged
      stage_fixed: true

    frontend-format:
      glob: "*.{ts,tsx}"
      root: "frontend/"
      run: pnpm format:staged
      stage_fixed: true

    backend-lint:
      glob: "*.py"
      root: "backend/"
      run: uvx ruff check --fix {staged_files} && uvx ruff format {staged_files}
      stage_fixed: true

    backend-types:
      glob: "*.py"
      root: "backend/"
      run: uvx ty check {staged_files}

    frontend-types:
      glob: "*.{ts,tsx}"
      root: "frontend/"
      run: pnpm type

    backend-security:
      glob: "*.py"
      root: "backend/"
      run: uvx bandit {staged_files}

    detect-secrets:
      glob: "**/*"
      exclude: "frontend/pnpm-lock.yaml|docs/**"
      run: |
        if command -v detect-secrets >/dev/null 2>&1; then
          detect-secrets scan --string {staged_files} || exit 1
        else
          echo "detect-secrets not found, skipping secret detection"
        fi

commit-msg:
  commands:
    commitlint:
      root: "frontend/"
      run: pnpm dlx commitlint --edit {1}

chore: Update commitlint configuration to include subject-case rules
  frontend/commitlint.config.js
Due: none

refactor: Optimize application startup
  backend/app/api/v1/dependencies/blog_auth.py
  backend/app/api/v1/router/health.py
  backend/app/config/secrets.py
  backend/app/config/settings.py
  backend/app/core/lifespan.py
  backend/app/db/mongodb/collections.py
  backend/app/langchain/core/graph_builder/build_graph.py
  backend/app/main.py
  backend/app/utils/embedding_utils.py
  backend/app/utils/exceptions.py
  docker-compose.yml
Due: backend-lint, backend-types, backend-security

refactor: Enhance logging and error handling in lifespan management
  backend/app/core/lifespan.py
Due: backend-lint, backend-types, backend-security

feat: enhance WorkflowSection with dynamic triggers and improve BentoItem to support children
  frontend/src/features/landing/components/sections/WorkflowSection.tsx
  frontend/src/features/landing/components/sections/new/TodosBentoContent.tsx
Due: frontend-barrels, frontend-lint, frontend-format, frontend-types

feat: Refactor message handling and tool retrieval for improved context management and efficiency
  backend/app/langchain/core/graph_builder/build_graph.py
  backend/app/langchain/core/nodes/__init__.py
  backend/app/langchain/core/nodes/delete_system_messages.py
  backend/app/langchain/core/nodes/filter_messages.py
  backend/app/langchain/core/subagents/base_subagent.py
  backend/app/langchain/core/subagents/handoff_tools.py
  backend/app/langchain/core/subagents/provider_subagents.py
  backend/app/langchain/prompts/agent_prompts.py
  backend/app/langchain/prompts/subagent_prompts.py
  backend/app/langchain/tools/core/retrieval.py
  backend/app/services/composio_service.py
Due: backend-lint, backend-types, backend-security

refactor: mail and notes components; remove unused MenuBar and related code
  frontend/package.json
  frontend/pnpm-lock.yaml
  frontend/src/app/(main)/notes/[id]/page.tsx
  frontend/src/app/(main)/notes/new/page.tsx
  frontend/src/app/(main)/notes/page.tsx
  frontend/src/components/shared/icons.tsx
  frontend/src/components/ui/index.ts
  frontend/src/components/ui/shadcn/chart.tsx
  frontend/src/features/chat/hooks/useSlashCommands.ts
  frontend/src/features/landing/components/sections/WorkflowSection.tsx
  frontend/src/features/landing/components/sections/new/Mail.tsx
  frontend/src/features/landing/components/sections/new/MailAnimationWrapper.tsx
  frontend/src/features/landing/components/sections/new/MailCalendarSection.tsx
  frontend/src/features/landing/components/sections/new/mail-animation.data.tsx
  frontend/src/features/mail/components/MailCompose.tsx
  frontend/src/features/mail/components/ViewMail.tsx
  frontend/src/features/mail/hooks/useEmailComposition.ts
  frontend/src/features/notes/api/notesApi.ts
  frontend/src/features/notes/components/BubbleMenu.tsx
  frontend/src/features/notes/components/NoteCard.tsx
  frontend/src/features/notes/components/NoteCardDialog.tsx
  frontend/src/features/notes/components/NotesMenuBar.tsx
  frontend/src/features/notes/components/NotesPage.tsx
  frontend/src/features/notes/hooks/useNotes.ts
  frontend/src/features/workflows/components/index.ts
  frontend/src/features/workflows/index.ts
  frontend/src/stores/userStore.ts
Due: frontend-barrels, frontend-lint, frontend-format, frontend-types

feat: remove BubblePitFooter component and add new sections for Description, OpenSource, Personalised, Productivity, TiredBoringAssistants, and TodosBentoContent
  frontend/src/app/page.tsx
  frontend/src/components/layout/sidebar/SidebarTopButtons.tsx
  frontend/src/components/ui/magic-ui/orbiting-circles.tsx
  frontend/src/features/landing/components/demo/CalendarBotMessage.tsx
  frontend/src/features/landing/components/demo/CalendarMessages.tsx
  frontend/src/features/landing/components/sections/CapabilitiesSection.tsx
  frontend/src/features/landing/components/sections/ConversationManagementSection.tsx
  frontend/src/features/landing/components/sections/Description.tsx
  frontend/src/features/landing/components/sections/DocumentsSection.tsx
  frontend/src/features/landing/components/sections/ImageGenerationSection.tsx
  frontend/src/features/landing/components/sections/InternetSection.tsx
  frontend/src/features/landing/components/sections/MailSection.tsx
  frontend/src/features/landing/components/sections/MemoriesSection.tsx
  frontend/src/features/landing/components/sections/NotesSection.tsx
  frontend/src/features/landing/components/sections/OpenSource.tsx
  frontend/src/features/landing/components/sections/Personalised.tsx
  frontend/src/features/landing/components/sections/PricingSection.tsx
  frontend/src/features/landing/components/sections/Productivity.tsx
  frontend/src/features/landing/components/sections/TargetAudienceSection.tsx
  frontend/src/features/landing/components/sections/TiredBoringAssistants.tsx
  frontend/src/features/landing/components/sections/TodosBentoContent.tsx
  frontend/src/features/landing/components/sections/WorkflowSection.tsx
  frontend/src/features/landing/components/sections/new/CalendarContent.tsx
  frontend/src/features/landing/components/sections/new/Goals.tsx
  frontend/src/features/landing/components/sections/new/GoalsStepsContent.tsx
  frontend/src/features/landing/components/sections/new/Todo.tsx
  frontend/src/features/landing/components/sections/new/WorkflowAutomation.tsx
  frontend/src/features/landing/components/sections/new/demo-data.tsx
  frontend/src/features/landing/components/shared/BubblePitFooter.tsx
Due: frontend-barrels, frontend-lint, frontend-format, frontend-types

ci(auto-fix): Apply ESLint formatting
  frontend/src/features/landing/components/sections/WorkflowSection.tsx
Due: frontend-barrels, frontend-lint, frontend-format, frontend-types

feat: Enhance calendar tools with user ID handling and token retrieval for improved access management
  backend/app/langchain/tools/calendar_tool.py
Due: backend-lint, backend-types, backend-security

refactor: remove unused orbiting-circles export from magic-ui
  frontend/src/components/ui/index.ts
Due: frontend-barrels, frontend-lint, frontend-format, frontend-types

chore: release master
  .release-please-manifest.json
  frontend/CHANGELOG.md
  frontend/package.json
Due: none

chore: release master
  .release-please-manifest.json
  backend/CHANGELOG.md
  backend/pyproject.toml
  frontend/CHANGELOG.md
  frontend/package.json
Due: none

refactor: Improve type hinting and simplify trigger creation in ComposioService
  backend/app/models/workflow_models.py
  backend/app/services/composio_service.py
Due: backend-lint, backend-types, backend-security

refactor: Simplify trigger creation in ComposioService by removing lambda wrapper
  backend/app/services/composio_service.py
Due: backend-lint, backend-types, backend-security

ci(auto-fix): Apply pre-commit hooks formatting
  backend/app/api/v1/router/composio.py
  backend/app/api/v1/router/webhook.py
  backend/app/config/oauth_config.py
  backend/app/langchain/core/graph_builder/build_graph.py
  backend/app/models/oauth_models.py
  backend/app/models/webhook_models.py
  backend/app/services/model_service.py
  backend/app/utils/session_logger/email_session_logger.py
  backend/app/utils/tool_ui_builders.py
  backend/app/worker.py
  backend/scripts/seed_models.py
Due: backend-lint, backend-types, backend-security

chore: Update badge URL in README.md
  README.md
Due: none

chore: Delete frontend/public/_next-vidxeo
  frontend/public/_next-video
Due: none

chore: Change README.md badge message
  frontend/public/badge.json
Due: none

chore: release master
  .release-please-manifest.json
  CHANGELOG.md
  backend/pyproject.toml
  frontend/CHANGELOG.md
  frontend/package.json
Due: none

chore: release master
  .release-please-manifest.json
  CHANGELOG.md
  backend/CHANGELOG.md
  backend/pyproject.toml
  frontend/CHANGELOG.md
  frontend/package.json
Due: none

chore: release master
  .release-please-manifest.json
  CHANGELOG.md
  backend/CHANGELOG.md
  frontend/CHANGELOG.md
Due: none

chore: updated changelog and release manifest for proper versioning
  .release-please-manifest.json
  CHANGELOG.md
  backend/CHANGELOG.md
  frontend/CHANGELOG.md
Due: none

feat: Implement unified Composio hook system for enhanced tool parameter and output management
  backend/app/api/v1/router/composio.py
  backend/app/api/v1/routes.py
  backend/app/services/composio_service.py
  backend/app/utils/composio_hooks.py
  backend/app/utils/composio_hooks/__init__.py
  backend/app/utils/composio_hooks/all_hooks.py
  backend/app/utils/composio_hooks/gmail_hooks.py
  backend/app/utils/composio_hooks/registry.py
  backend/app/utils/composio_hooks/user_id_hooks.py
  backend/app/utils/tool_ui_builders.py
Due: backend-lint, backend-types, backend-security

chore: release master
  .release-please-manifest.json
  CHANGELOG.md
  backend/CHANGELOG.md
  backend/pyproject.toml
Due: none

feat: implement Gmail trigger matching service and enhance email processing workflows
  backend/app/api/v1/router/webhook.py
  backend/app/db/mongodb/indexes.py
  backend/app/models/workflow_models.py
  backend/app/services/mail_webhook_service.py
  backend/app/services/trigger_matching_service.py
  backend/app/services/workflow/service.py
  backend/app/workers/tasks/__init__.py
  backend/app/workers/tasks/email_tasks.py
  frontend/src/features/workflows/api/workflowApi.ts
  frontend/src/features/workflows/components/WorkflowModal.tsx
Due: frontend-barrels, frontend-lint, frontend-format, backend-lint, backend-types, frontend-types, backend-security

ci(auto-fix): Apply ESLint formatting
  frontend/src/features/workflows/components/WorkflowModal.tsx
Due: frontend-barrels, frontend-lint, frontend-format, frontend-types

feat: Implement Composio tool integration for Gmail service
  backend/app/langchain/tools/mail_tool.py
  backend/app/services/composio_service.py
  backend/app/services/mail_service.py
Due: backend-lint, backend-types, backend-security

feat: display UI component on email draft
  backend/app/config/settings.py
  backend/app/services/composio_service.py
  backend/app/utils/composio_hooks/gmail_hooks.py
  backend/app/utils/composio_hooks/registry.py
  backend/app/utils/tool_ui_builders.py
Due: backend-lint, backend-types, backend-security

feat: refactor Gmail API routes to utilize async functions and remove deprecated token handling
  backend/app/api/v1/router/mail.py
Due: backend-lint, backend-types, backend-security

feat: add fetch after hook
  backend/app/utils/composio_hooks/gmail_hooks.py
Due: backend-lint, backend-types, backend-security

feat: remove watch_mail functionality and related background tasks
  backend/app/api/v1/router/oauth.py
  backend/app/arq_worker.py
  backend/app/utils/watch_mail.py
Due: backend-lint, backend-types, backend-security
