Repository heygaia/gaia: changes, and which lefthook commands are due for each by the changed paths.
All: frontend-barrels, frontend-lint, frontend-format, backend-lint, backend-types, frontend-types, backend-security

frontend-barrels:
  run: pnpm generate-barrels
  stage_fixed: true

frontend-lint:
  run: pnpm check:staged
  stage_fixed: true

frontend-format:
  run: pnpm format:staged
  stage_fixed: true

backend-lint:
  run: uvx ruff check --fix {staged_files} && uvx ruff format {staged_files}
  stage_fixed: true

backend-types:
  run: uvx ty check {staged_files}

frontend-types:
  run: pnpm type

backend-security:
  run: uvx bandit {staged_files}

fix: update deployment workflows to trigger on push to master instead of manual repository dispatch
  .github/workflows/deploy-frontend.yml
  .github/workflows/deploy.yml
Due: none

feat: Improve logging, profiling and more (#235)
  .github/instructions/Clean Code.instructions.md
  .gitignore
  backend/app/__init__.py
  backend/app/api/v1/router/chat.py
  backend/app/api/v1/router/health.py
  backend/app/config/loggers.py
  backend/app/config/logging.py
  backend/app/config/settings.py
  backend/app/config/token_repository.py
  backend/app/core/app_factory.py
  backend/app/core/lifespan.py
  backend/app/core/middleware.py
  backend/app/decorators/__init__.py
  backend/app/decorators/logging.py
  backend/app/decorators/profiling.py
  backend/app/utils/general_utils.py
  backend/app/utils/logging_utils.py
  backend/app/utils/profiler_utils.py
  backend/app/utils/session_logger/base_session_logger.py
  backend/app/utils/session_logger/email_session_logger.py
  backend/app/workers/lifecycle/startup.py
  backend/pyproject.toml
  docs/configuration/logging.mdx
  docs/configuration/profiling.mdx
  docs/docs.json
Due: backend-lint, backend-types, backend-security

chore: release master
  .release-please-manifest.json
  CHANGELOG.md
  backend/CHANGELOG.md
  backend/pyproject.toml
Due: none

chore: release master
  .release-please-manifest.json
  CHANGELOG.md
  backend/CHANGELOG.md
  backend/pyproject.toml
  frontend/CHANGELOG.md
  frontend/package.json
Due: none

feat: update OAuth and model configurations to use local icon assets
  backend/app/config/oauth_config.py
  backend/scripts/seed_models.py
  docs/logo/logo.png
  frontend/public/images/icons/apple.svg
  frontend/public/images/icons/chatgpt.webp
  frontend/public/images/icons/drive.webp
  frontend/public/images/icons/gemini.webp
  frontend/public/images/icons/google.svg
  frontend/public/images/icons/google_play.svg
  frontend/public/images/icons/siri.webp
  frontend/public/images/icons/twitter.webp
  frontend/public/images/icons/weather.webp
  frontend/public/images/wallpapers/image.png
  frontend/public/images/wallpapers/sf_night.png
  frontend/public/images/wallpapers/sf_night.webp
  frontend/public/images/wallpapers/sf_night_high_res.png
  frontend/public/images/wallpapers/switzerland.png
  frontend/public/images/wallpapers/switzerland.webp
  frontend/public/images/wallpapers/switzerland_mac.webp
  frontend/public/images/wallpapers/switzerland_night.png
  frontend/public/images/wallpapers/switzerland_night.webp
  frontend/src/app/page.tsx
  frontend/src/features/chat/utils/toolIcons.tsx
  frontend/src/features/landing/components/sections/MobileSection.tsx
  frontend/src/features/landing/components/sections/TiredBoringAssistants.tsx
Due: frontend-barrels, frontend-lint, frontend-format, backend-lint, backend-types, frontend-types, backend-security

chore: update README and layout for improved visuals and performance
  .coderabbit.yaml
  README.md
  frontend/src/app/layout.tsx
  frontend/src/features/landing/components/hero/HeroSection.tsx
Due: frontend-barrels, frontend-lint, frontend-format, frontend-types

ci(auto-fix): Apply pre-commit hooks formatting
  backend/app/config/oauth_config.py
Due: backend-lint, backend-types, backend-security

fix: update logo URLs in seed_models.py and optimize image loading in LandingPage
  backend/scripts/seed_models.py
  frontend/src/app/page.tsx
Due: frontend-barrels, frontend-lint, frontend-format, backend-lint, backend-types, frontend-types, backend-security

feat(chat): add Dexie.js database service
  frontend/src/lib/db/chatDb.ts
Due: frontend-barrels, frontend-lint, frontend-format, frontend-types

feat(chat): implement cache-first loading for conversations
  frontend/src/components/layout/sidebar/ChatsList.tsx
  frontend/src/hooks/useConversations.ts
  frontend/src/lib/db/chatDb.ts
  frontend/src/stores/chatStore.ts
Due: frontend-barrels, frontend-lint, frontend-format, frontend-types

feat(chat): implemented send & message caching
  frontend/package.json
  frontend/pnpm-lock.yaml
  frontend/src/features/chat/api/chatApi.ts
  frontend/src/features/chat/components/composer/Composer.tsx
  frontend/src/features/chat/components/interface/ChatPage.tsx
  frontend/src/features/chat/components/interface/layouts/ChatWithMessages.tsx
  frontend/src/features/chat/components/interface/sections/NewChatSection.tsx
  frontend/src/hooks/useMessages.ts
  frontend/src/hooks/useSendMessage.ts
  frontend/src/lib/db/chatDb.ts
Due: frontend-barrels, frontend-lint, frontend-format, frontend-types

feat: gmail subgraph created
  backend/app/langchain/core/framework/plan_and_execute.py
  backend/app/langchain/core/framework/plan_and_execute2.py
  backend/app/langchain/core/subgraphs/gmail_subgraph.py
Due: backend-lint, backend-types, backend-security

feat(chat): conversation delete hook
  frontend/src/components/layout/sidebar/ChatOptionsDropdown.tsx
  frontend/src/hooks/useDeleteConversation.ts
Due: frontend-barrels, frontend-lint, frontend-format, frontend-types

feat(chat): add background sync service to pre-cache messages
  frontend/src/app/(main)/layout.tsx
  frontend/src/hooks/useBackgroundSync.ts
  frontend/src/lib/db/chatDb.ts
  frontend/src/services/syncService.ts
Due: frontend-barrels, frontend-lint, frontend-format, frontend-types

style: fix lint errors
  frontend/src/app/(main)/layout.tsx
  frontend/src/features/chat/components/composer/Composer.tsx
  frontend/src/features/chat/components/interface/ChatPage.tsx
Due: frontend-barrels, frontend-lint, frontend-format, frontend-types

feat: update landing page visuals and contact components
  frontend/public/images/wallpapers/surreal.webp
  frontend/public/images/wallpapers/switzerland_night.png
  frontend/public/images/wallpapers/switzerland_night.webp
  frontend/src/app/(landing)/contact/page.tsx
  frontend/src/app/page.tsx
  frontend/src/app/styles/globals.css
  frontend/src/components/navigation/Footer.tsx
  frontend/src/components/navigation/Navbar.tsx
  frontend/src/config/appConfig.tsx
  frontend/src/features/contact/components/ContactForm.tsx
  frontend/src/features/contact/components/ContactSidebar.tsx
  frontend/src/features/landing/components/hero/HeroSection.tsx
  frontend/src/features/landing/components/hero/SplitTextBlur.tsx
  frontend/src/features/landing/components/sections/FinalSection.tsx
  frontend/src/features/landing/components/shared/GetStartedButton.tsx
Due: frontend-barrels, frontend-lint, frontend-format, frontend-types

feat: refactor contact components, update landing page sections, and enhance social links in final section
  frontend/src/app/(landing)/contact/page.tsx
  frontend/src/app/page.tsx
  frontend/src/components/navigation/Footer.tsx
  frontend/src/config/appConfig.tsx
  frontend/src/features/contact/components/ContactForm.tsx
  frontend/src/features/contact/components/ContactSidebar.tsx
  frontend/src/features/landing/components/hero/HeroSection.tsx
  frontend/src/features/landing/components/sections/CommunitySection.tsx
  frontend/src/features/landing/components/sections/FinalSection.tsx
  frontend/src/features/landing/components/shared/GetStartedButton.tsx
Due: frontend-barrels, frontend-lint, frontend-format, frontend-types

feat: enhance footer with random taglines and refactor contact sidebar for cleaner email and social links
  frontend/src/app/styles/globals.css
  frontend/src/components/navigation/Footer.tsx
  frontend/src/features/contact/components/ContactSidebar.tsx
Due: frontend-barrels, frontend-lint, frontend-format, frontend-types

feat: refactor HeroVideoDialog import path, add new HeroVideoDialog component, and enhance ShinyText for new feature indication
  frontend/src/app/page.tsx
  frontend/src/components/ui/magic-ui/hero-video-dialog.tsx
  frontend/src/components/ui/shadcn/shimmering-chip.tsx
  frontend/src/features/landing/components/hero/HeroSection.tsx
Due: frontend-barrels, frontend-lint, frontend-format, frontend-types

refactor: Rename routes -> endpoints. Moved middleware folder.
  backend/app/api/v1/endpoints/blog.py
  backend/app/api/v1/endpoints/calendar.py
  backend/app/api/v1/endpoints/chat.py
  backend/app/api/v1/endpoints/composio.py
  backend/app/api/v1/endpoints/conversations.py
  backend/app/api/v1/endpoints/feedback.py
  backend/app/api/v1/endpoints/file.py
  backend/app/api/v1/endpoints/goals.py
  backend/app/api/v1/endpoints/health.py
  backend/app/api/v1/endpoints/image.py
  backend/app/api/v1/endpoints/mail.py
  backend/app/api/v1/endpoints/memory.py
  backend/app/api/v1/endpoints/models.py
  backend/app/api/v1/endpoints/notes.py
  backend/app/api/v1/endpoints/notification.py
  backend/app/api/v1/endpoints/oauth.py
  backend/app/api/v1/endpoints/payments.py
  backend/app/api/v1/endpoints/reminders.py
  backend/app/api/v1/endpoints/search.py
  backend/app/api/v1/endpoints/support.py
  backend/app/api/v1/endpoints/team.py
  backend/app/api/v1/endpoints/todos.py
  backend/app/api/v1/endpoints/tools.py
  backend/app/api/v1/endpoints/usage.py
  backend/app/api/v1/endpoints/waitlist.py
  backend/app/api/v1/endpoints/webhook.py
  backend/app/api/v1/endpoints/websocket.py
  backend/app/api/v1/endpoints/workflows.py
  backend/app/api/v1/middleware/__init__.py
  backend/app/api/v1/middleware/auth_middleware.py
  backend/app/api/v1/middleware/rate_limiter.py
  backend/app/api/v1/middleware/tiered_rate_limiter.py
  backend/app/api/v1/routes.py
  backend/app/core/app_factory.py
  backend/app/core/middleware.py
  backend/app/decorators/rate_limiting.py
  backend/app/services/chat_service.py
  backend/app/workers/tasks/workflow_tasks.py
Due: backend-lint, backend-types, backend-security

refactor: Consolidate workflow scheduling by removing WorkflowSchedulerService and updating imports
  backend/app/core/lifespan.py
  backend/app/services/workflow/__init__.py
  backend/app/services/workflow/scheduler.py
  backend/app/services/workflow/scheduler_service.py
  backend/app/services/workflow/service.py
  backend/app/utils/worker_detection.py
  docs/configuration/docker.mdx
Due: backend-lint, backend-types, backend-security

refactor: Enhance workflow queue service with unified Redis pool management and improved error handling
  backend/app/services/mail/mail_webhook_service.py
  backend/app/services/workflow/queue_service.py
  backend/app/services/workflow/service.py
Due: backend-lint, backend-types, backend-security

feat: Enhance tool loading with async support and improved logging
  backend/app/agents/tools/core/registry.py
  backend/app/api/v1/middleware/__init__.py
  backend/app/api/v1/middleware/auth.py
  backend/app/api/v1/middleware/logging.py
  backend/app/api/v1/middleware/profiling.py
  backend/app/core/lifespan.py
  backend/app/core/middleware.py
  backend/app/decorators/__init__.py
  backend/app/decorators/profiling.py
  backend/app/decorators/timing.py
  backend/pyproject.toml
Due: backend-lint, backend-types, backend-security

refactor: Update composio_service to use cached async method for tool retrieval to increase application startup speed
  backend/app/agents/tools/core/registry.py
  backend/app/services/composio/composio_service.py
Due: backend-lint, backend-types, backend-security

Revert "Merge branch 'feat/improve-caching' into refactor-backend-directory-structure"
  backend/app/api/v1/endpoints/blog.py
  backend/app/api/v1/endpoints/health.py
  backend/app/api/v1/endpoints/models.py
  backend/app/api/v1/endpoints/team.py
  backend/app/api/v1/endpoints/tools.py
  backend/app/db/redis.py
  backend/app/decorators/caching.py
  backend/app/services/blog_service.py
  backend/app/services/composio/composio_service.py
  backend/app/services/file_service.py
  backend/app/services/model_service.py
  backend/app/services/tools_service.py
  backend/app/utils/cache_utils.py
  backend/pyproject.toml
Due: backend-lint, backend-types, backend-security

fix: Remove Cacheable decorator from get_tools method to prevent serialization errors
  backend/app/services/composio/composio_service.py
Due: backend-lint, backend-types, backend-security

feat: Introduce profiling decorator and update profiling settings
  backend/app/api/v1/endpoints/chat.py
  backend/app/api/v1/middleware/profiling.py
  backend/app/config/settings.py
  backend/app/decorators/profiling.py
  backend/app/services/composio/composio_service.py
  docs/configuration/profiling.mdx
Due: backend-lint, backend-types, backend-security

feat: enhance follow-up actions by streaming in background to reduce latency
  backend/app/docstrings/langchain/tools/follow_up_actions_tool_docs.py
  backend/app/langchain/core/nodes/follow_up_actions_node.py
  backend/pyproject.toml
  frontend/src/features/chat/hooks/useChatStream.ts
Due: frontend-barrels, frontend-lint, frontend-format, backend-lint, backend-types, frontend-types, backend-security

ci(auto-fix): Apply pre-commit hooks formatting
  backend/app/docstrings/langchain/tools/follow_up_actions_tool_docs.py
Due: backend-lint, backend-types, backend-security

fix: calendar events not showing in the gridsection on /c page
  frontend/src/features/calendar/components/UpcomingEventsView.tsx
  frontend/src/features/calendar/hooks/useUpcomingEventsQuery.ts
Due: frontend-barrels, frontend-lint, frontend-format, frontend-types

fix: emails not being fetched due to incorrect transformation + minor changes
  backend/app/services/mail_service.py
  backend/app/utils/general_utils.py
  frontend/package.json
  frontend/pnpm-lock.yaml
  frontend/src/components/shared/icons.tsx
  frontend/src/features/mail/components/MailCompose.tsx
  frontend/src/features/mail/components/ViewMail.tsx
  frontend/src/features/mail/hooks/useEmailComposition.ts
  frontend/src/features/mail/hooks/useUnreadEmails.ts
Due: frontend-barrels, frontend-lint, frontend-format, backend-lint, backend-types, frontend-types, backend-security

chore: update UpcomingEventsView to include path prop and remove unused useCalendarEvents hook
  frontend/src/features/calendar/components/UpcomingEventsView.tsx
  frontend/src/features/calendar/hooks/useCalendarEvents.ts
  frontend/src/features/chat/components/interface/BaseCardView.tsx
  frontend/src/features/mail/components/EmailListCard.tsx
Due: frontend-barrels, frontend-lint, frontend-format, frontend-types

ci(auto-fix): Apply ESLint formatting
  frontend/src/features/mail/components/ViewMail.tsx
  frontend/src/features/mail/hooks/useEmailComposition.ts
Due: frontend-barrels, frontend-lint, frontend-format, frontend-types

fix: Duplicate module named "app.utils.composio_hooks"
  backend/app/services/composio/composio_service.py
  backend/app/utils/composio_hooks/composio_hooks.py
Due: backend-lint, backend-types, backend-security

chore: Update detect_secrets command to remove output redirection * pragma allowlist secret
  backend/pyproject.toml
Due: none

fix: mypy issues
  backend/app/agents/tools/goal_tool.py
  backend/app/api/v1/middleware/profiling.py
  backend/app/db/rabbitmq.py
  backend/app/utils/file_utils.py
Due: backend-lint, backend-types, backend-security

fix: Update profiling to use sha256 for hashing and improve profiler availability checks
  backend/app/api/v1/middleware/profiling.py
  backend/app/decorators/profiling.py
  backend/app/utils/embedding_utils.py
  backend/app/workers/config/worker_settings.py
Due: backend-lint, backend-types, backend-security

fix: Cast tool_data_entries to List[ToolDataEntry] for type safety
  backend/app/utils/agent_utils.py
Due: backend-lint, backend-types, backend-security

ci(auto-fix): Apply pre-commit hooks formatting
  backend/app/api/v1/endpoints/chat.py
  backend/app/decorators/profiling.py
  backend/app/workers/tasks/workflow_tasks.py
Due: backend-lint, backend-types, backend-security

Path conditions:
  frontend-barrels: any of: *.{ts,tsx} and ^frontend/
  frontend-lint: any of: *.{ts,tsx} and ^frontend/
  frontend-format: any of: *.{ts,tsx} and ^frontend/
  backend-lint: any of: *.py and ^backend/
  backend-types: any of: *.py and ^backend/
  frontend-types: any of: *.{ts,tsx} and ^frontend/
  backend-security: any of: *.py and ^backend/
