Repository heygaia/gaia: changes, and which lefthook commands are due for each by the changed paths.
All: frontend-barrels, frontend-lint, frontend-format, backend-lint, backend-types, frontend-types, backend-security

frontend-barrels:
  run: pnpm generate-barrels
  stage_fixed: true

frontend-lint:
  run: pnpm check:staged
  stage_fixed: true

frontend-format:
  run: pnpm format:staged
  stage_fixed: true

backend-lint:
  run: uvx ruff check --fix {staged_files} && uvx ruff format {staged_files}
  stage_fixed: true

backend-types:
  run: uvx ty check {staged_files}

frontend-types:
  run: pnpm type

backend-security:
  run: uvx bandit {staged_files}

feat: update tasks to run backend and frontend with specific commands
  .vscode/tasks.json
Due: none

feat: enhance ComposioService and Gmail hooks with user_id support; update EmailSentCard styling
  backend/app/services/composio_service.py
  backend/app/services/mail_service.py
  backend/app/utils/composio_hooks/gmail_hooks.py
  frontend/src/features/mail/components/EmailSentCard.tsx
Due: frontend-barrels, frontend-lint, frontend-format, backend-lint, backend-types, frontend-types, backend-security

feat: update email sending functionality to support CC, BCC, and HTML options; refactor related components
  backend/app/api/v1/router/mail.py
  backend/app/services/mail_service.py
  frontend/src/features/mail/components/EmailComposeCard.tsx
Due: frontend-barrels, frontend-lint, frontend-format, backend-lint, backend-types, frontend-types, backend-security

chore: update development setup guide and introduction documentation for clarity and consistency
  docs/developers/development-setup.mdx
  docs/developers/introduction.mdx
Due: none

docs: enhance documentation for setup, environment variables, and resources
  backend/app/config/secrets.py
  docs/configuration/conventional-commits.mdx
  docs/configuration/docker.mdx
  docs/configuration/environment-variables.mdx
  docs/developers/contributing.mdx
  docs/developers/development-setup.mdx
  docs/docs.json
  docs/introduction.mdx
  docs/resources.mdx
  docs/self-hosting/overview.mdx
  scripts/setup.sh
Due: backend-lint, backend-types, backend-security

chore: update documentation by removing unused global links and refining quick start instructions
  docs/docs.json
  docs/quick-start.mdx
Due: none

chore: remove unused audio service and related email watch functionality
  backend/app/api/v1/router/audio.py
  backend/app/api/v1/router/oauth.py
  backend/app/arq_worker.py
  backend/app/config/secrets.py
  backend/app/core/app_factory.py
  backend/app/services/audio_service.py
  backend/app/utils/pubsub_auth.py
  backend/app/utils/watch_mail.py
  backend/app/workers/tasks/__init__.py
  backend/app/workers/tasks/email_tasks.py
Due: backend-lint, backend-types, backend-security

feat: add thread_id support to send_email function for email threading
  backend/app/api/v1/router/mail.py
  backend/app/services/mail_service.py
Due: backend-lint, backend-types, backend-security

fix: added some files to gitignore
  .gitignore
Due: none

refactor: enhance agent execution logic with improved modularity, error handling, and streamlined configuration
  backend/app/langchain/core/agent.py
  backend/app/langchain/core/agent_helpers.py
  backend/app/langchain/core/agent_utils.py
  backend/app/langchain/core/message_helpers.py
  backend/app/langchain/prompts/agent_prompts.py
  backend/app/langchain/prompts/workflow_prompts.py
  backend/app/langchain/tools/core/registry.py
  backend/app/services/chat_service.py
Due: backend-lint, backend-types, backend-security

refactor: enhance error logging in silent agent execution and improve real-time progress storage
  backend/app/langchain/core/agent.py
  backend/app/langchain/core/agent_helpers.py
  backend/app/langchain/core/agent_utils.py
  backend/app/langchain/prompts/subagent_prompts.py
  backend/app/langchain/prompts/workflow_prompts.py
  backend/app/models/mail_models.py
Due: backend-lint, backend-types, backend-security

refactor: add psycopg binary and pool dependencies for improved PostgreSQL support
  backend/pyproject.toml
Due: none

refactor: improve message storage logic to skip empty messages and enhance memory client project configuration
  backend/app/langchain/core/agent_utils.py
  backend/app/memory/client.py
Due: backend-lint, backend-types, backend-security

fix: improve logging for email sending and adjust type hinting in create_draft function
  backend/app/langchain/templates/mail_templates.py
  backend/app/services/mail_service.py
  backend/app/utils/composio_hooks/registry.py
Due: backend-lint, backend-types, backend-security

fix: add type hinting for parameters in list_labels function
  backend/app/services/mail_service.py
Due: backend-lint, backend-types, backend-security

ci(auto-fix): Apply pre-commit hooks formatting
  backend/app/services/mail_service.py
Due: backend-lint, backend-types, backend-security

fix: remove unused lru_cache decorator from get_gmail_tool function
  backend/app/services/mail_service.py
Due: backend-lint, backend-types, backend-security

fix: remove redundant sender parameter from send_email functions
  backend/app/api/v1/router/mail.py
Due: backend-lint, backend-types, backend-security

refactor: optimize workflow prompts for efficiency and clarity; enhance Gmail hooks with structured data models
  backend/app/langchain/prompts/agent_prompts.py
  backend/app/langchain/prompts/workflow_prompts.py
  backend/app/utils/composio_hooks/gmail_hooks.py
Due: backend-lint, backend-types, backend-security

feat: add clean code guidelines and enhance settings and exception handling
  .github/instructions/Clean Code.instructions.md
  backend/app/config/settings.py
  backend/app/utils/exceptions.py
  devdocs/PUBSUB_DETAILED.md
Due: backend-lint, backend-types, backend-security

refactor: enhance workflow generation prompts with strict guidelines; improve WorkflowModal for better state management and user feedback
  backend/app/langchain/prompts/workflow_prompts.py
  frontend/src/features/workflows/components/WorkflowModal.tsx
  frontend/src/features/workflows/components/shared/WorkflowSteps.tsx
Due: frontend-barrels, frontend-lint, frontend-format, backend-lint, backend-types, frontend-types, backend-security

refactor: enhance workflow creation and management; integrate form validation and state management with Zustand
  frontend/src/features/workflows/api/workflowApi.ts
  frontend/src/features/workflows/components/WorkflowModal.tsx
  frontend/src/features/workflows/hooks/useWorkflowCreation.ts
  frontend/src/features/workflows/schemas/workflowFormSchema.ts
  frontend/src/features/workflows/stores/workflowModalStore.ts
Due: frontend-barrels, frontend-lint, frontend-format, frontend-types

refactor: improve workflow creation feedback; enhance success messaging and timeout handling for step generation
  frontend/src/features/workflows/components/WorkflowModal.tsx
Due: frontend-barrels, frontend-lint, frontend-format, frontend-types

fix: await GraphManager.set_graph in ARQ worker startup for proper async handling
  backend/app/core/lazy_loader.py
  backend/app/workers/lifecycle/startup.py
Due: backend-lint, backend-types, backend-security

feat: move Code of Conduct, Contribution guidelines, Security Policy, and License files; refactor chat components for better ui
  .github/CODE_OF_CONDUCT.md
  .github/CONTRIBUTING.md
  .github/LICENSE.md
  .github/SECURITY.md
  frontend/src/app/styles/globals.css
  frontend/src/features/chat/components/bubbles/bot/ChatBubbleBot.tsx
  frontend/src/features/chat/components/bubbles/bot/FollowUpActions.tsx
  frontend/src/features/chat/components/bubbles/bot/TextBubble.tsx
  frontend/src/features/chat/components/bubbles/user/ChatBubbleUser.tsx
  frontend/src/features/chat/components/interface/ChatRenderer.tsx
Due: frontend-barrels, frontend-lint, frontend-format, frontend-types

feat: add playful thinking messages for loading state
  frontend/src/features/chat/components/interface/ChatRenderer.tsx
  frontend/src/stores/loadingStore.ts
  frontend/src/utils/playfulThinking.ts
Due: frontend-barrels, frontend-lint, frontend-format, frontend-types

feat: enhance ChatBubbleBot and FollowUpActions components; add loading state handling and refactor layout
  frontend/src/features/chat/components/bubbles/bot/ChatBubbleBot.tsx
  frontend/src/features/chat/components/bubbles/bot/FollowUpActions.tsx
  frontend/src/features/chat/components/bubbles/bot/TextBubble.tsx
  frontend/src/features/chat/components/interface/ChatRenderer.tsx
  frontend/src/types/features/baseMessageTypes.ts
Due: frontend-barrels, frontend-lint, frontend-format, frontend-types

feat: redefine AGENT_SYSTEM_PROMPT to adopt a more casual, human-like communication style; enhance user engagement through personalized interaction
  backend/app/langchain/prompts/agent_prompts.py
Due: backend-lint, backend-types, backend-security

refactor: remove unnecessary 'mx-auto' class from calendar and email list components for cleaner layout
  backend/app/langchain/prompts/agent_prompts.py
  frontend/src/features/calendar/components/CalendarListCard.tsx
  frontend/src/features/calendar/components/CalendarListFetchCard.tsx
  frontend/src/features/mail/components/EmailListCard.tsx
Due: frontend-barrels, frontend-lint, frontend-format, backend-lint, backend-types, frontend-types, backend-security

feat: implement iMessage-style chat bubbles and multi-bubble support
  backend/app/langchain/prompts/agent_prompts.py
  frontend/src/app/styles/globals.css
  frontend/src/features/chat/components/bubbles/bot/ChatBubbleBot.tsx
  frontend/src/features/chat/components/bubbles/bot/TextBubble.tsx
  frontend/src/features/chat/components/bubbles/user/ChatBubbleUser.tsx
  frontend/src/features/chat/utils/messageBreakUtils.ts
  frontend/src/types/features/chatBubbleTypes.ts
Due: frontend-barrels, frontend-lint, frontend-format, backend-lint, backend-types, frontend-types, backend-security

feat: Added date separators. enhance chat message handling with improved bubble logic; add utility functions for date formatting and message content validation
  backend/app/langchain/prompts/agent_prompts.py
  frontend/src/features/chat/components/bubbles/bot/ChatBubbleBot.tsx
  frontend/src/features/chat/components/interface/ChatRenderer.tsx
  frontend/src/features/chat/components/interface/DateSeparator.tsx
  frontend/src/features/chat/components/interface/index.ts
  frontend/src/features/chat/utils/dateUtils.ts
  frontend/src/features/chat/utils/messageContentUtils.ts
Due: frontend-barrels, frontend-lint, frontend-format, backend-lint, backend-types, frontend-types, backend-security

ci(auto-fix): Apply ESLint formatting
  frontend/src/features/chat/components/bubbles/bot/ChatBubbleBot.tsx
  frontend/src/features/chat/components/interface/ChatRenderer.tsx
  frontend/src/features/chat/components/interface/DateSeparator.tsx
  frontend/src/features/chat/utils/dateUtils.ts
Due: frontend-barrels, frontend-lint, frontend-format, frontend-types

feat: enhance clipboard functionality in ChatBubble components; add clean text handling and copy button for user messages
  frontend/src/features/chat/components/bubbles/actions/ChatBubble_Actions.tsx
  frontend/src/features/chat/components/bubbles/user/ChatBubbleUser.tsx
Due: frontend-barrels, frontend-lint, frontend-format, frontend-types

ci(auto-fix): Apply ESLint formatting
  frontend/src/features/chat/components/bubbles/user/ChatBubbleUser.tsx
Due: frontend-barrels, frontend-lint, frontend-format, frontend-types

feat(chat): adopt zustand and add IndexedDB caching
  IndexedDB_INFO.md
  frontend/pnpm-lock.yaml
  frontend/src/components/layout/sidebar/ChatOptionsDropdown.tsx
  frontend/src/components/layout/sidebar/ChatsList.tsx
  frontend/src/features/chat/components/interface/ChatPage.tsx
  frontend/src/features/chat/hooks/useConversationsOperations.ts
  frontend/src/features/chat/hooks/useHydrateConversations.ts
  frontend/src/features/chat/hooks/useHydrateMessages.ts
  frontend/src/features/settings/components/LogoutModal.tsx
  frontend/src/features/settings/components/SettingsMenu.tsx
  frontend/src/services/indexedDb/chatDb.ts
  frontend/src/stores/conversationsStore.ts
  frontend/src/types/shims-zustand.d.ts
Due: frontend-barrels, frontend-lint, frontend-format, frontend-types

refactor: streamline user ID extraction by consolidating get_user_id_from_config function
  backend/app/langchain/tools/goal_tool.py
  backend/app/langchain/tools/notification_tool.py
  backend/app/langchain/tools/todo_tool.py
  backend/app/utils/chat_utils.py
Due: backend-lint, backend-types, backend-security

ci(auto-fix): Apply ESLint formatting
  frontend/src/types/features/baseMessageRegistry.ts
Due: frontend-barrels, frontend-lint, frontend-format, frontend-types

chore: Update frontend/src/features/settings/components/SettingsMenu.tsx
  frontend/src/features/settings/components/SettingsMenu.tsx
Due: frontend-barrels, frontend-lint, frontend-format, frontend-types

refactor: remove unused Composio trigger subscription method from WorkflowService
  backend/app/services/workflow/service.py
Due: backend-lint, backend-types, backend-security

chore: lint & fix types
  frontend/src/app/(main)/layout.tsx
  frontend/src/components/layout/headers/ChatHeader.tsx
  frontend/src/components/layout/headers/HeaderManager.tsx
  frontend/src/components/layout/sidebar/ChatTab.tsx
  frontend/src/components/layout/sidebar/ChatsList.tsx
  frontend/src/components/layout/sidebar/ContactSupport.tsx
  frontend/src/components/layout/sidebar/SidebarTopButtons.tsx
  frontend/src/components/layout/sidebar/UserContainer.tsx
  frontend/src/config/registries/baseMessageRegistry.ts
  frontend/src/features/chat/components/composer/ComposerInput.tsx
  frontend/src/features/chat/components/composer/ComposerLeft.tsx
  frontend/src/features/chat/components/composer/ComposerRight.tsx
  frontend/src/features/chat/components/composer/ComposerToolbar.tsx
  frontend/src/features/chat/components/composer/ModelPickerButton.tsx
  frontend/src/features/chat/hooks/useChatStream.ts
  frontend/src/features/chat/hooks/useLoading.ts
  frontend/src/features/chat/hooks/useSendMessage.ts
  frontend/src/features/chat/utils/messageContentUtils.ts
  frontend/src/features/settings/components/SettingsMenu.tsx
  frontend/src/features/workflows/api/workflowApi.ts
  frontend/src/features/workflows/components/WorkflowCard.tsx
  frontend/src/features/workflows/components/WorkflowModal.tsx
  frontend/src/features/workflows/hooks/useWorkflowCreation.ts
  frontend/src/features/workflows/schemas/workflowFormSchema.ts
  frontend/src/features/workflows/utils/triggerDisplay.ts
  frontend/src/layouts/SidebarLayout.tsx
  frontend/src/types/features/baseMessageTypes.ts
  frontend/src/types/features/todoTypes.ts
  frontend/src/types/features/workflowTypes.ts
Due: frontend-barrels, frontend-lint, frontend-format, frontend-types

Path conditions:
  frontend-barrels: any of: *.{ts,tsx} and ^frontend/
  frontend-lint: any of: *.{ts,tsx} and ^frontend/
  frontend-format: any of: *.{ts,tsx} and ^frontend/
  backend-lint: any of: *.py and ^backend/
  backend-types: any of: *.py and ^backend/
  frontend-types: any of: *.{ts,tsx} and ^frontend/
  backend-security: any of: *.py and ^backend/
