Repository heygaia/gaia: changes, and which lefthook commands are due for each by the changed paths.
All: frontend-barrels, frontend-lint, frontend-format, backend-lint, backend-types, frontend-types, backend-security

lefthook.yml:

pre-commit:
  parallel: true

  commands:
    frontend-barrels:
      glob: "*.{ts,tsx}"
      root: "frontend/"
      run: pnpm generate-barrels
      stage_fixed: true

    frontend-lint:
      glob: "*.{ts,tsx}"
      root: "frontend/"
      run: pnpm check:staged
      stage_fixed: true

    frontend-format:
      glob: "*.{ts,tsx}"
      root: "frontend/"
      run: pnpm format:staged
      stage_fixed: true

    backend-lint:
      glob: "*.py"
      root: "backend/"
      run: uvx ruff check --fix {staged_files} && uvx ruff format {staged_files}
      stage_fixed: true

    backend-types:
      glob: "*.py"
      root: "backend/"
      run: uvx ty check {staged_files}

    frontend-types:
      glob: "*.{ts,tsx}"
      root: "frontend/"
      run: pnpm type

    backend-security:
      glob: "*.py"
      root: "backend/"
      run: uvx bandit {staged_files}

    detect-secrets:
      glob: "**/*"
      exclude: "frontend/pnpm-lock.yaml|docs/**"
      run: |
        if command -v detect-secrets >/dev/null 2>&1; then
          detect-secrets scan --string {staged_files} || exit 1
        else
          echo "detect-secrets not found, skipping secret detection"
        fi

commit-msg:
  commands:
    commitlint:
      root: "frontend/"
      run: pnpm dlx commitlint --edit {1}

chore: release master
  .release-please-manifest.json
  CHANGELOG.md
  backend/CHANGELOG.md
  backend/pyproject.toml
Due: none

feat: Add memory graph data structure and integrate GitHub contributors feature
  frontend/src/app/styles/globals.css
  frontend/src/features/landing/components/demo/MemoryGraphDemo.tsx
  frontend/src/features/landing/components/sections/OpenSource.tsx
  frontend/src/features/landing/components/sections/Personalised.tsx
  frontend/src/features/landing/components/sections/TodosBentoContent.tsx
  frontend/src/features/landing/constants/data.ts
  frontend/src/hooks/useGitHubContributors.ts
Due: frontend-barrels, frontend-lint, frontend-format, frontend-types

ci(auto-fix): Apply ESLint formatting
  frontend/src/features/landing/components/demo/MemoryGraphDemo.tsx
  frontend/src/features/landing/components/sections/Personalised.tsx
Due: frontend-barrels, frontend-lint, frontend-format, frontend-types

refactor: Enhance Gmail integration and user experience
  backend/app/docstrings/langchain/tools/mail_tool_docs.py
  backend/app/langchain/prompts/agent_prompts.py
  backend/app/langchain/prompts/subagent_prompts.py
  backend/app/langchain/templates/mail_templates.py
  backend/app/utils/composio_hooks/gmail_hooks.py
  backend/app/utils/composio_hooks/registry.py
  frontend/src/features/chat/components/composer/ModelPickerButton.tsx
  frontend/src/redux/slices/userSlice.ts
Due: frontend-barrels, frontend-lint, frontend-format, backend-lint, backend-types, frontend-types, backend-security

chore: remove commented-out About Page from sitemap
  frontend/public/sitemap.xml
Due: none

feat: Add Manifesto page and update routing to reflect new structure
  frontend/src/app/(landing)/manifesto/page.tsx
  frontend/src/app/page.tsx
  frontend/src/config/appConfig.tsx
  frontend/src/features/blog/components/AuthorTooltip.tsx
  frontend/src/features/landing/components/demo/MemoryGraphDemo.tsx
  frontend/src/features/landing/components/hero/HeroSection.tsx
  frontend/src/features/landing/components/sections/Personalised.tsx
  frontend/src/features/pricing/components/FAQAccordion.tsx
  frontend/src/types/api/aboutApiTypes.ts
  frontend/src/utils/interceptorUtils.ts
Due: frontend-barrels, frontend-lint, frontend-format, frontend-types

feat: enhance email recipient handling and response formatting in Gmail hooks
  backend/app/utils/composio_hooks/gmail_hooks.py
Due: backend-lint, backend-types, backend-security

feat: enhance tool data handling to support multiple instances across components
  backend/app/models/chat_models.py
  backend/app/services/chat_service.py
  frontend/src/features/chat/components/bubbles/bot/ChatBubbleBot.tsx
  frontend/src/features/chat/components/bubbles/bot/TextBubble.tsx
  frontend/src/features/chat/hooks/useChatStream.ts
  frontend/src/features/chat/hooks/useStreamDataParser.ts
  frontend/src/types/features/baseMessageRegistry.ts
  frontend/src/utils/toolDataNormalizer.ts
Due: frontend-barrels, frontend-lint, frontend-format, backend-lint, backend-types, frontend-types, backend-security

refactor: update tool data rendering methods and improve type definitions for image and memory data
  frontend/src/features/chat/components/bubbles/bot/ChatBubbleBot.tsx
  frontend/src/features/chat/components/bubbles/bot/ImageBubble.tsx
  frontend/src/types/features/baseMessageRegistry.ts
Due: frontend-barrels, frontend-lint, frontend-format, frontend-types

refactor: improve type safety for action prop in TextBubble and enhance key type checking in useStreamDataParser
  frontend/src/features/chat/components/bubbles/bot/TextBubble.tsx
  frontend/src/features/chat/hooks/useStreamDataParser.ts
Due: frontend-barrels, frontend-lint, frontend-format, frontend-types

ci(auto-fix): Apply ESLint formatting
  frontend/src/features/chat/components/bubbles/bot/ImageBubble.tsx
  frontend/src/features/chat/hooks/useStreamDataParser.ts
Due: frontend-barrels, frontend-lint, frontend-format, frontend-types

refactor: add message helpers for system messages, memory retrieval, and workflow execution chore: remove unused calendar and event temporary files
  backend/app/langchain/core/message_helpers.py
  backend/app/langchain/core/messages.py
  backend/app/services/delete_event_temp.py
  backend/app/services/update_calendar_func.py
  backend/app/services/update_event_temp.py
Due: backend-lint, backend-types, backend-security

fix: await GraphManager.set_graph to ensure proper graph initialization in ARQ worker startup
  backend/app/workers/lifecycle/startup.py
Due: backend-lint, backend-types, backend-security

refactor: streamline workflow execution and regeneration logic by removing redundant logging and enhancing step generation with trigger configuration
  backend/app/services/workflow/service.py
Due: backend-lint, backend-types, backend-security

feat: enhance JSON serialization in CustomJSONEncoder and integrate with tool data extraction
  backend/app/langchain/core/agent.py
Due: backend-lint, backend-types, backend-security

ci(auto-fix): Apply ESLint formatting
  frontend/src/features/chat/components/composer/IntegrationsBanner.tsx
Due: frontend-barrels, frontend-lint, frontend-format, frontend-types

fix: correct typo in tool name and enhance logging for subscription triggers
  backend/app/langchain/templates/mail_templates.py
  backend/app/override/langgraph_bigtool/create_agent.py
  backend/app/services/composio_service.py
Due: backend-lint, backend-types, backend-security

refactor: streamline trigger creation in ComposioService and improve category handling in WorkflowGenerationService
  backend/app/services/composio_service.py
  backend/app/services/workflow/generation_service.py
  backend/app/utils/composio_hooks/gmail_hooks.py
Due: backend-lint, backend-types, backend-security

ci(auto-fix): Apply pre-commit hooks formatting
  backend/app/langchain/core/subagents/__init__.py
  backend/app/langchain/core/subagents/handoff_tools.py
  backend/app/langchain/core/subagents/provider_subagents.py
  backend/app/langchain/prompts/agent_prompts.py
  backend/app/langchain/prompts/subagent_prompts.py
  backend/app/utils/composio_hooks/gmail_hooks.py
Due: backend-lint, backend-types, backend-security

feat: add notification management features and UI components
  backend/app/config/rate_limits.py
  backend/app/docstrings/langchain/tools/notification_tool_docs.py
  backend/app/langchain/prompts/agent_prompts.py
  backend/app/langchain/tools/core/registry.py
  backend/app/langchain/tools/notification_tool.py
  backend/app/models/chat_models.py
  frontend/src/features/chat/components/bubbles/bot/NotificationListSection.tsx
  frontend/src/features/chat/components/bubbles/bot/TextBubble.tsx
  frontend/src/features/notification/components/NotificationCenter.tsx
  frontend/src/features/notification/components/NotificationItem.tsx
  frontend/src/types/features/baseMessageRegistry.ts
Due: frontend-barrels, frontend-lint, frontend-format, backend-lint, backend-types, frontend-types, backend-security

feat: enhance notification retrieval with additional filtering options
  backend/app/docstrings/langchain/tools/notification_tool_docs.py
  backend/app/langchain/tools/notification_tool.py
  backend/app/services/notification_service.py
  backend/app/utils/notification/orchestrator.py
  backend/app/utils/notification/storage.py
Due: backend-lint, backend-types, backend-security

ci(auto-fix): Apply ESLint formatting
  frontend/src/features/notification/components/NotificationCenter.tsx
Due: frontend-barrels, frontend-lint, frontend-format, frontend-types

refactor: reorganize imports in notification service and orchestrator
  backend/app/services/notification_service.py
  backend/app/utils/notification/orchestrator.py
Due: backend-lint, backend-types, backend-security

refactor: workflow management and integration handling
  backend/app/config/secrets.py
  backend/app/langchain/core/agent.py
  backend/app/langchain/core/message_helpers.py
  backend/app/langchain/core/messages.py
  backend/app/langchain/prompts/trigger_prompts.py
  backend/app/langchain/prompts/workflow_prompts.py
  backend/app/langchain/templates/workflow_template.py
  backend/app/models/workflow_models.py
  backend/app/services/conversation_service.py
  backend/app/services/trigger_matching_service.py
  backend/app/services/workflow/conversation_service.py
  backend/app/services/workflow/generation_service.py
  backend/app/workers/tasks/email_tasks.py
  backend/app/workers/tasks/workflow_tasks.py
  frontend/src/config/registries/baseMessageRegistry.ts
  frontend/src/config/registries/toolRegistry.ts
  frontend/src/config/registries/triggerRegistry.ts
  frontend/src/features/chat/components/composer/Composer.tsx
  frontend/src/features/chat/hooks/useChatStream.ts
  frontend/src/features/chat/hooks/useLoading.ts
  frontend/src/features/chat/hooks/useSendMessage.ts
  frontend/src/features/chat/hooks/useWorkflowSelection.ts
  frontend/src/features/chat/utils/messageContentUtils.ts
  frontend/src/features/workflows/api/workflowApi.ts
  frontend/src/features/workflows/components/WorkflowCard.tsx
  frontend/src/features/workflows/components/WorkflowModal.tsx
  frontend/src/features/workflows/data/workflowData.ts
  frontend/src/features/workflows/utils/triggerDisplay.ts
  frontend/src/stores/workflowSelectionStore.ts
  frontend/src/types/features/baseMessageTypes.ts
  frontend/src/types/features/todoTypes.ts
  frontend/src/types/features/workflowTypes.ts
Due: frontend-barrels, frontend-lint, frontend-format, backend-lint, backend-types, frontend-types, backend-security

feat: enhance Gmail message parsing and improve navigation logic in composer store
  backend/app/langchain/templates/mail_templates.py
  backend/app/utils/composio_hooks/gmail_hooks.py
  frontend/src/stores/composerStore.ts
Due: frontend-barrels, frontend-lint, frontend-format, backend-lint, backend-types, frontend-types, backend-security

refactor: simplify CustomAnchor component and remove unused URL metadata hooks
  frontend/src/features/chat/components/code-block/CustomAnchor.tsx
  frontend/src/features/chat/hooks/useUrlMetadata.ts
Due: frontend-barrels, frontend-lint, frontend-format, frontend-types

feat: add launch configuration for FastAPI debugging and enhance Gmail message parsing with manual payload handling
  .vscode/launch.json
  backend/app/langchain/templates/mail_templates.py
  backend/app/main.py
  backend/app/utils/composio_hooks/gmail_hooks.py
  frontend/src/features/chat/components/bubbles/bot/EmailThreadCard.tsx
  frontend/src/types/features/mailTypes.ts
Due: frontend-barrels, frontend-lint, frontend-format, backend-lint, backend-types, frontend-types, backend-security

feat: implement draft sending functionality and enhance email sent data handling
  backend/app/api/v1/router/mail.py
  backend/app/langchain/prompts/subagent_prompts.py
  backend/app/models/chat_models.py
  backend/app/models/mail_models.py
  backend/app/utils/composio_hooks/gmail_hooks.py
  frontend/src/features/chat/components/bubbles/bot/TextBubble.tsx
  frontend/src/features/mail/api/mailApi.ts
  frontend/src/features/mail/components/EmailComposeCard.tsx
  frontend/src/features/mail/components/EmailSentCard.tsx
  frontend/src/types/features/baseMessageRegistry.ts
  frontend/src/types/features/baseMessageTypes.ts
  frontend/src/types/features/mailTypes.ts
Due: frontend-barrels, frontend-lint, frontend-format, backend-lint, backend-types, frontend-types, backend-security

refactor: improve error handling and code readability in email-related functions
  backend/app/api/v1/router/mail.py
  backend/app/langchain/templates/mail_templates.py
  backend/app/services/mail_service.py
  backend/app/utils/composio_hooks/gmail_hooks.py
Due: backend-lint, backend-types, backend-security

refactor: rename variables for clarity in mark_notifications_read function
  backend/app/langchain/tools/notification_tool.py
Due: backend-lint, backend-types, backend-security

ci(auto-fix): Apply pre-commit hooks formatting
  backend/app/docstrings/langchain/tools/notification_tool_docs.py
  backend/app/langchain/tools/notification_tool.py
Due: backend-lint, backend-types, backend-security

refactor: email processing: consolidate email analysis, enhance parsing utilities, and streamline workflow execution
  backend/app/config/rate_limits.py
  backend/app/langchain/core/agent.py
  backend/app/langchain/core/graph_builder/build_mail_processing_graph.py
  backend/app/langchain/prompts/email_filter_prompts.py
  backend/app/models/mail_models.py
  backend/app/services/email_workflow_filter_service.py
  backend/app/services/workflow/scheduler.py
  backend/app/tasks/mail_tasks.py
  backend/app/utils/email_utils.py
  backend/app/worker.py
  backend/app/worker_node/process_email.py
  backend/app/workers/tasks/email_tasks.py
  backend/app/workers/tasks/workflow_tasks.py
Due: backend-lint, backend-types, backend-security

feat(chat): Implement IndexedDB caching for faster chat loading
  frontend/package.json
  frontend/src/components/layout/sidebar/ChatsList.tsx
  frontend/src/features/chat/hooks/useChatDb.ts
  frontend/src/features/chat/hooks/useChatStream.ts
  frontend/src/features/chat/hooks/useSendMessage.ts
  frontend/src/features/chat/utils/chatUtils.ts
  frontend/src/redux/slices/conversationsSlice.ts
  frontend/src/services/indexedDb/chatDb.ts
  frontend/src/services/indexedDb/syncService.ts
Due: frontend-barrels, frontend-lint, frontend-format, frontend-types

feat: unify integration dependencies for Google OAuth and Composio, enhancing access control for protected endpoints
  backend/app/api/v1/dependencies/google_scope_dependencies.py
  backend/app/api/v1/router/calendar.py
  backend/app/api/v1/router/mail.py
  backend/app/api/v1/router/oauth.py
  backend/app/config/oauth_config.py
  backend/app/services/composio_service.py
  backend/app/services/mail_service.py
Due: backend-lint, backend-types, backend-security

refactor: streamline agent and message handling, improve error logging, and enhance user data processing
  backend/app/langchain/core/agent.py
  backend/app/langchain/core/messages.py
  backend/app/workers/tasks/workflow_tasks.py
Due: backend-lint, backend-types, backend-security

refactor: update component imports, streamline model selection, and enhance sidebar layout
  backend/app/langchain/core/agent.py
  frontend/src/components/layout/headers/ChatHeader.tsx
  frontend/src/components/layout/sidebar/ChatTab.tsx
  frontend/src/components/layout/sidebar/ChatsList.tsx
  frontend/src/components/layout/sidebar/SidebarTopButtons.tsx
  frontend/src/components/ui/shadcn/sidebar.tsx
  frontend/src/config/appConfig.tsx
  frontend/src/features/chat/components/composer/ComposerInput.tsx
  frontend/src/features/chat/components/composer/ComposerRight.tsx
  frontend/src/features/chat/components/composer/ComposerToolbar.tsx
  frontend/src/features/chat/components/composer/ModelPickerButton.tsx
  frontend/src/features/settings/components/SettingsMenu.tsx
  frontend/src/layouts/SidebarLayout.tsx
Due: frontend-barrels, frontend-lint, frontend-format, backend-lint, backend-types, frontend-types, backend-security

refactor: enhance sidebar functionality with custom trigger, improve button tooltips, and streamline layout components
  frontend/src/app/(main)/layout.tsx
  frontend/src/components/layout/headers/ChatHeader.tsx
  frontend/src/components/layout/headers/HeaderManager.tsx
  frontend/src/components/layout/sidebar/ContactSupport.tsx
  frontend/src/components/layout/sidebar/SidebarTopButtons.tsx
  frontend/src/components/layout/sidebar/UserContainer.tsx
  frontend/src/components/shared/icons.tsx
  frontend/src/config/appConfig.tsx
  frontend/src/features/chat/components/composer/ModelPickerButton.tsx
  frontend/src/features/notification/components/NotificationCenter.tsx
  frontend/src/features/search/components/SearchCommand.tsx
  frontend/src/features/settings/components/SettingsMenu.tsx
  frontend/src/layouts/SidebarLayout.tsx
Due: frontend-barrels, frontend-lint, frontend-format, frontend-types

refactor: simplify tooltip content and enhance button accessibility with keyboard shortcuts
  frontend/src/features/chat/components/composer/ComposerLeft.tsx
  frontend/src/features/chat/components/composer/ComposerRight.tsx
Due: frontend-barrels, frontend-lint, frontend-format, frontend-types
