Repository heygaia/gaia: changes, and which lefthook commands are due for each by the changed paths.
All: frontend-barrels, frontend-lint, frontend-format, backend-lint, backend-types, frontend-types, backend-security

frontend-barrels:
  run: pnpm generate-barrels
  stage_fixed: true

frontend-lint:
  run: pnpm check:staged
  stage_fixed: true

frontend-format:
  run: pnpm format:staged
  stage_fixed: true

backend-lint:
  run: uvx ruff check --fix {staged_files} && uvx ruff format {staged_files}
  stage_fixed: true

backend-types:
  run: uvx ty check {staged_files}

frontend-types:
  run: pnpm type

backend-security:
  run: uvx bandit {staged_files}

feat(backend): add HEALTHCHECK to Dockerfile
  backend/Dockerfile
Due: none

chore: fix types
  frontend/src/config/registries/toolRegistry.ts
  frontend/src/features/chat/components/bubbles/bot/TodoSection.tsx
  frontend/src/features/todo/api/todoApi.ts
  frontend/src/features/todo/components/TodoDetailSheet.tsx
  frontend/src/features/todo/components/WorkflowSection.tsx
  frontend/src/features/workflows/api/workflowApi.ts
  frontend/src/features/workflows/components/CommunityWorkflowCard.tsx
  frontend/src/types/features/todoToolTypes.ts
  frontend/src/types/features/todoTypes.ts
Due: frontend-barrels, frontend-lint, frontend-format, frontend-types

ci(auto-fix): Apply ESLint formatting
  frontend/src/features/todo/components/WorkflowSection.tsx
Due: frontend-barrels, frontend-lint, frontend-format, frontend-types

feat: enhance settings management with validation and environment loading
  backend/app/config/settings.py
  backend/app/config/settings_validator.py
Due: backend-lint, backend-types, backend-security

refactor: streamline Cloudinary initialization with lazy loading and improved error handling
  backend/app/config/cloudinary.py
  backend/app/config/settings.py
  backend/app/core/lazy_loader.py
  backend/app/core/lifespan.py
Due: backend-lint, backend-types, backend-security

refactor: simplify ChromaClient structure and enhance lazy loading for better client management
  backend/app/db/chromadb.py
Due: backend-lint, backend-types, backend-security

refactor: remove redundant comment about helper methods in ChromaClient
  backend/app/db/chromadb.py
Due: backend-lint, backend-types, backend-security

feat: Integrate Lottie animations and enhance UI components for personalization
  frontend/package.json
  frontend/pnpm-lock.yaml
  frontend/public/landing/animations/proactive.lottie
  frontend/src/app/(landing)/manifesto/page.tsx
  frontend/src/features/landing/components/sections/Personalised.tsx
  frontend/src/features/landing/components/sections/WorkflowSection.tsx
Due: frontend-barrels, frontend-lint, frontend-format, frontend-types

docs: remove outdated release workflow and system overview documentation and move release workflow info to developer docs mintlify. remove devdocs folder.
  devdocs/SYSTEM_OVERVIEW.md
  docs/developers/release-workflow.mdx
  docs/docs.json
Due: none

feat: Enhance chat service and model synchronization
  backend/app/langchain/core/nodes/follow_up_actions_node.py
  backend/app/langchain/llm/client.py
  backend/app/models/chat_models.py
  backend/app/services/chat_service.py
  backend/scripts/seed_models.py
  frontend/src/features/chat/components/bubbles/bot/ChatBubbleBot.tsx
  frontend/src/features/chat/components/bubbles/bot/TextBubble.tsx
  frontend/src/features/chat/hooks/useChatStream.ts
  frontend/src/features/chat/hooks/useStreamDataParser.ts
  frontend/src/types/features/baseMessageRegistry.ts
  frontend/src/utils/toolDataNormalizer.ts
Due: frontend-barrels, frontend-lint, frontend-format, backend-lint, backend-types, frontend-types, backend-security

style: modify ToolIcon component and update ComposerLeft to use it
  frontend/src/components/shared/icons.tsx
  frontend/src/features/chat/components/composer/ComposerLeft.tsx
Due: frontend-barrels, frontend-lint, frontend-format, frontend-types

feat: enhance ComposerInput and SlashCommandDropdown for navigation with arrow keys
  frontend/src/components/layout/sidebar/ChatOptionsDropdown.tsx
  frontend/src/components/ui/shadcn/sidebar.tsx
  frontend/src/features/chat/components/composer/ComposerInput.tsx
  frontend/src/features/chat/components/composer/ModelPickerButton.tsx
  frontend/src/features/chat/components/composer/SlashCommandDropdown.tsx
Due: frontend-barrels, frontend-lint, frontend-format, frontend-types

feat: enhance formatToolName function and update tool icon rendering for better display
  frontend/src/features/chat/components/composer/SelectedToolIndicator.tsx
  frontend/src/features/chat/components/composer/SlashCommandDropdown.tsx
  frontend/src/features/chat/utils/chatUtils.ts
  frontend/src/features/chat/utils/toolIcons.tsx
Due: frontend-barrels, frontend-lint, frontend-format, frontend-types

feat: Add animated number display for GitHub stars in Navbar and update styling
  README.md
  frontend/package.json
  frontend/pnpm-lock.yaml
  frontend/src/components/navigation/Navbar.tsx
Due: frontend-barrels, frontend-lint, frontend-format, frontend-types

refactor: fix types, remove unnecessary card stick files, lint, add types stub for animated number library
  frontend/src/components/navigation/Navbar.tsx
  frontend/src/components/shared/CardStack.tsx
  frontend/src/components/shared/CardStackContainer.tsx
  frontend/src/features/blog/components/BlogCard.tsx
  frontend/src/features/blog/components/BlogListItem.tsx
  frontend/src/features/blog/components/BlogMetadata.tsx
  frontend/src/features/chat/components/interface/sections/index.ts
  frontend/src/features/chat/hooks/useChatStream.ts
  frontend/src/features/chat/hooks/useModels.ts
  frontend/src/features/landing/components/demo/DummyComposer.tsx
  frontend/src/features/landing/components/demo/DummySlashCommandDropdown.tsx
  frontend/src/features/landing/components/sections/MobileSection.tsx
  frontend/src/features/landing/components/sections/OpenSource.tsx
  frontend/src/features/landing/components/sections/WorkflowSection.tsx
  frontend/src/types/libraries/animated-number-react.d.ts
Due: frontend-barrels, frontend-lint, frontend-format, frontend-types

refactor: Optimize hooks and callbacks across multiple components for improved performance and readability
  frontend/src/components/layout/sidebar/ChatOptionsDropdown.tsx
  frontend/src/components/shared/RedirectLoader.tsx
  frontend/src/components/ui/shadcn/raised-button.tsx
  frontend/src/features/calendar/components/Calendar.tsx
  frontend/src/features/calendar/components/WeeklyCalendarView.tsx
  frontend/src/features/chat/components/bubbles/bot/ChatBubbleBot.tsx
  frontend/src/features/chat/components/composer/Composer.tsx
  frontend/src/features/chat/components/interface/ChatPage.tsx
  frontend/src/features/chat/components/interface/StarterText.tsx
  frontend/src/features/chat/components/interface/hooks/useScrollBehavior.ts
  frontend/src/features/landing/components/demo/DummySlashCommandDropdown.tsx
  frontend/src/features/mail/hooks/useFetchEmailById.ts
  frontend/src/features/settings/components/PreferencesSettings.tsx
  frontend/src/features/todo/components/TodoModal.tsx
  frontend/src/features/use-cases/components/UseCaseSection.tsx
  frontend/src/features/workflows/components/CommunityWorkflowCard.tsx
  frontend/src/features/workflows/components/WorkflowModal.tsx
Due: frontend-barrels, frontend-lint, frontend-format, frontend-types

feat: Enhance performance by preconnecting and preloading resources, defer analytics loading, and implement lazy loading for contributors section
  frontend/src/app/layout.tsx
  frontend/src/app/page.tsx
  frontend/src/components/navigation/Navbar.tsx
  frontend/src/components/shared/SuspenseLoader.tsx
  frontend/src/features/chat/components/interface/sections/CardStackSection.tsx
  frontend/src/features/landing/components/demo/DummyComposer.tsx
  frontend/src/features/landing/components/demo/DummySlashCommandDropdown.tsx
  frontend/src/features/landing/components/sections/Description.tsx
  frontend/src/features/landing/components/sections/MobileSection.tsx
  frontend/src/features/landing/components/sections/OpenSource.tsx
Due: frontend-barrels, frontend-lint, frontend-format, frontend-types

feat: Refactor agent logic and configuration, remove unused tokens, and enhance tool rendering
  backend/app/langchain/core/agent.py
  backend/app/langchain/core/agent_helpers.py
  backend/app/langchain/core/nodes/follow_up_actions_node.py
  backend/app/langchain/llm/client.py
  backend/app/langchain/tools/core/retrieval.py
  backend/app/override/langgraph_bigtool/create_agent.py
  backend/app/services/chat_service.py
  backend/app/utils/weather_utils.py
  frontend/src/features/chat/components/bubbles/bot/TextBubble.tsx
  frontend/src/features/mail/components/EmailListCard.tsx
Due: frontend-barrels, frontend-lint, frontend-format, backend-lint, backend-types, frontend-types, backend-security

feat: Enhance error handling in chat stream and reset state on failure
  frontend/src/features/chat/api/chatApi.ts
  frontend/src/features/chat/hooks/useChatStream.ts
Due: frontend-barrels, frontend-lint, frontend-format, frontend-types

ci(auto-fix): Apply ESLint formatting
  frontend/src/features/chat/components/bubbles/bot/TextBubble.tsx
  frontend/src/utils/playfulThinking.ts
Due: frontend-barrels, frontend-lint, frontend-format, frontend-types

refactor: remove success toast notification from file upload process
  backend/app/db/chromadb.py
  frontend/src/features/chat/api/chatApi.ts
  frontend/src/features/chat/components/files/FileUpload.tsx
Due: frontend-barrels, frontend-lint, frontend-format, backend-lint, backend-types, frontend-types, backend-security

chore: Apply suggestion from @Copilot
  backend/app/services/chat_service.py
Due: backend-lint, backend-types, backend-security

feat: implement BaseWorkflowCard component and refactor workflow cards to use it
  frontend/src/app/(landing)/use-cases/page.tsx
  frontend/src/features/use-cases/components/UseCaseCard.tsx
  frontend/src/features/workflows/components/CommunityWorkflowCard.tsx
  frontend/src/features/workflows/components/UserWorkflowCard.tsx
  frontend/src/features/workflows/components/WorkflowCard.tsx
  frontend/src/features/workflows/components/index.ts
  frontend/src/features/workflows/components/shared/BaseWorkflowCard.tsx
Due: frontend-barrels, frontend-lint, frontend-format, frontend-types

feat: Refactor and enhance lazy loading for LLM and database components
  .vscode/launch.json
  backend/app/core/lazy_loader.py
  backend/app/core/lifespan.py
  backend/app/db/chromadb.py
  backend/app/db/postgresql.py
  backend/app/db/rabbitmq.py
  backend/app/langchain/core/graph_builder/build_graph.py
  backend/app/langchain/core/graph_builder/build_mail_processing_graph.py
  backend/app/langchain/core/graph_builder/checkpointer_manager.py
  backend/app/langchain/core/graph_manager.py
  backend/app/langchain/core/nodes/follow_up_actions_node.py
  backend/app/langchain/core/nodes/trim_messages_node.py
  backend/app/langchain/llm/chatbot.py
  backend/app/langchain/llm/client.py
  backend/app/langchain/llm/token_counter.py
  backend/app/services/email_importance_service.py
  backend/app/services/goals_service.py
  backend/app/services/workflow/generation_service.py
  backend/app/utils/common_utils.py
  backend/app/worker.py
  backend/app/workers/lifecycle/startup.py
Due: backend-lint, backend-types, backend-security

feat: refactor UseCasesPage and UseCaseSection components for improved workflow loading and rendering
  frontend/src/app/(landing)/use-cases/page.tsx
  frontend/src/features/use-cases/components/UseCaseSection.tsx
  frontend/src/features/workflows/components/UserWorkflowCard.tsx
  frontend/src/features/workflows/components/WorkflowPage.tsx
  frontend/src/features/workflows/components/WorkflowSkeletons.tsx
  frontend/src/features/workflows/components/shared/BaseWorkflowCard.tsx
Due: frontend-barrels, frontend-lint, frontend-format, frontend-types

feat: Implement auto-initialization for lazy-loaded providers and enhance follow-up actions node with message formatting
  backend/app/config/settings.py
  backend/app/core/lazy_loader.py
  backend/app/core/lifespan.py
  backend/app/docstrings/langchain/tools/follow_up_actions_tool_docs.py
  backend/app/langchain/core/nodes/follow_up_actions_node.py
Due: backend-lint, backend-types, backend-security

feat: Refactor tool data handling to unify legacy formats and improve message processing
  backend/app/langchain/core/agent_utils.py
  backend/app/models/chat_models.py
  backend/app/services/chat_service.py
  backend/app/services/conversation_service.py
  backend/app/services/search_service.py
  backend/app/utils/tool_data_utils.py
  frontend/src/config/registries/baseMessageRegistry.ts
  frontend/src/config/registries/toolRegistry.ts
  frontend/src/features/chat/components/bubbles/bot/TextBubble.tsx
  frontend/src/types/features/baseMessageRegistry.ts
  frontend/src/types/features/toolDataTypes.ts
Due: frontend-barrels, frontend-lint, frontend-format, backend-lint, backend-types, frontend-types, backend-security

ci(auto-fix): Apply pre-commit hooks formatting
  backend/app/models/chat_models.py
  backend/app/services/conversation_service.py
  backend/app/utils/tool_data_utils.py
Due: backend-lint, backend-types, backend-security

fix: Use react fragment with key to prevent mapping issues
  frontend/src/features/chat/components/bubbles/bot/TextBubble.tsx
Due: frontend-barrels, frontend-lint, frontend-format, frontend-types

refactor: Update tool registry and message handling for improved type safety and clarity
  backend/app/langchain/llm/client.py
  frontend/src/config/registries/baseMessageRegistry.ts
  frontend/src/config/registries/toolRegistry.ts
  frontend/src/features/chat/components/bubbles/bot/TextBubble.tsx
  frontend/src/features/chat/hooks/useStreamDataParser.ts
  frontend/src/types/features/baseMessageRegistry.ts
Due: frontend-barrels, frontend-lint, frontend-format, backend-lint, backend-types, frontend-types, backend-security

chore: Add @tiptap/core dependency and update related packages to version 2.26.1
  frontend/package.json
  frontend/pnpm-lock.yaml
Due: none

chore: release master
  .release-please-manifest.json
  CHANGELOG.md
  backend/CHANGELOG.md
  backend/pyproject.toml
  frontend/CHANGELOG.md
  frontend/package.json
Due: none

refactor: reorder imports for better readability and update Composer component's inputRef dependency
  frontend/src/app/page.tsx
  frontend/src/config/registries/triggerRegistry.ts
  frontend/src/features/chat/components/composer/Composer.tsx
Due: frontend-barrels, frontend-lint, frontend-format, frontend-types

feat: add HeartHandIcon component and update ContactSupport to use it. (fixing types)
  frontend/pnpm-lock.yaml
  frontend/src/components/layout/sidebar/ContactSupport.tsx
  frontend/src/components/shared/icons.tsx
Due: frontend-barrels, frontend-lint, frontend-format, frontend-types

feat: skip silent chunks in execute_graph_silent and remove worker service from docker-compose files
  backend/app/langchain/core/agent_helpers.py
  backend/app/worker.py
  backend/app/workers/tasks/__init__.py
  docker-compose.prod.yml
  docker-compose.yml
Due: backend-lint, backend-types, backend-security

ci(auto-fix): Apply pre-commit hooks formatting
  backend/app/langchain/core/graph_builder/checkpointer_manager.py
  backend/app/langchain/llm/token_counter.py
Due: backend-lint, backend-types, backend-security

feat: Enhance agent prompts and add ToolIcon component
  backend/app/langchain/prompts/agent_prompts.py
  frontend/src/components/shared/icons.tsx
  frontend/src/features/chat/components/bubbles/bot/ChatBubbleBot.tsx
  frontend/src/features/chat/components/interface/ChatRenderer.tsx
  frontend/src/features/chat/components/interface/MarkdownRenderer.tsx
Due: frontend-barrels, frontend-lint, frontend-format, backend-lint, backend-types, frontend-types, backend-security

docs: Enhance settings validation and lazy loading documentation
  backend/app/config/settings.py
  backend/app/config/settings_validator.py
  backend/app/core/lazy_loader.py
  backend/app/langchain/core/graph_builder/checkpointer_manager.py
Due: backend-lint, backend-types, backend-security

Path conditions:
  frontend-barrels: any of: *.{ts,tsx} and ^frontend/
  frontend-lint: any of: *.{ts,tsx} and ^frontend/
  frontend-format: any of: *.{ts,tsx} and ^frontend/
  backend-lint: any of: *.py and ^backend/
  backend-types: any of: *.py and ^backend/
  frontend-types: any of: *.{ts,tsx} and ^frontend/
  backend-security: any of: *.py and ^backend/
